<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    class="pt-3">
    <v-text-field
      :rules="rules.phoneRules"
      v-model.trim="form.phone"
      :error-messages="phoneError"
      mask="###########"
      label="手机号码"
      required
      @input="registerCheckPhone"
      @blur="registerCheckPhone"/>
    <captcha-input
      :valid="valid"
      :disabled="phoneDirty || !!phoneError"
      :rules="rules.captchaRules"
      v-model.trim="form.captcha"
      @click:captcha-suffix="getCaptcha"/>
    <v-btn
      :disabled="verifyPhoneDisabled"
      color="primary"
      style="float:right;"
      depressed
      @click="nextHandle">下一步</v-btn>
  </v-form>
</template>
<script>
import CaptchaInput from '~/components/CaptchaInput'
import axios from 'axios'
export default {
  components: {
    CaptchaInput
  },
  data() {
    return {
      valid: true,
      time: 0,
      form: {
        phone: '',
        captcha: ''
      },
      phoneDirty: true,
      verifyPhoneDisabled: true,
      rules: {
        phoneRules: [
          v => {
            this.phoneDirty = true
            if (!v.length) {
              return '请输入手机号码'
            }
            const reg = /^1[3-8]{1}\d{9}$/
            if (!reg.test(v)) {
              return '请正确输入11位手机号码'
            }
            this.phoneDirty = false
            return true
          }
        ],
        captchaRules: [
          v => {
            if (v.length !== 6) {
              this.verifyPhoneDisabled = true
              return '请输入6位数字验证码'
            }
            this.verifyPhoneDisabled = false
            return true
          }
        ]
      },
      phoneError: null
    }
  },
  computed: {
    captchaDisabled() {
      return !(!this.time > 0 && !this.phoneDirty)
    }
  },
  methods: {
    timer() {
      if (this.time > 0) {
        this.time--
        setTimeout(this.timer, 1000)
      }
    },
    async getCaptcha() {
      try {
        const { data } = await axios.post('/mock/captcha', {
          phone: this.form.phone
        })
        if (!data.status) {
          this.$message.error('验证码获取失败，请稍后重试！')
          return
        }
        this.form.captcha = String(data.result)
      } catch (error) {
        console.error(error)
      }
    },
    async registerCheckPhone() {
      const { phone } = this.form
      if (!/^1[3-9]{1}\d{9}$/g.test(phone)) return
      try {
        await this.$store.dispatch('public/registerCheckPhone', phone)
        this.phoneError = '手机号不存在'
      } catch (e) {
        this.phoneError = null
      }
    },
    async nextHandle() {
      await this.registerCheckPhone()
      if (!this.$refs.form.validate() || !!this.phoneError) return
      this.$emit('next', this.form.phone)
    }
  }
}
</script>
