<template>
  <div class="shipping-area">
    <div class="shipping-area__content clear">
      <h4>全国服务网点查询</h4>
      <div
        v-loading="loading"
        v-show="!isNational"
        ref="map"
        class="shipping-area__chart"/>
      <no-ssr>
        <area-query
          v-show="isNational"
          ref="amap"
          :regions="regions"
          @backChina="backChina"/>
      </no-ssr>
    </div>
  </div>
</template>
<script>
import echarts from 'echarts/lib/echarts'
import 'echarts/lib/component/tooltip'
import 'echarts/map/js/china'
import { tdist } from '~/utils/address.js'
import axios from 'axios'
import AreaQuery from './AreaQuery'
function formatterArea(data = []) {
  return data.map(item => {
    let pinyin = null
    if (tdist[item.id]) {
      pinyin = tdist[item.id][2].replace(/\s+/g, '')
      pinyin = pinyin.replace(
        /sheng|zhuangzu|zizhiqu|weiwuer|tebiexingzhengqu|huizu/g,
        ''
      )
    }
    return {
      ...item.properties,
      id: item.id,
      pinyin,
      geometry: item.geometry,
      selected: item.selected
    }
  })
}
export default {
  components: {
    AreaQuery
  },
  data() {
    return {
      mapChart: null,
      isNational: false,
      center: [0, 0],
      loading: false,
      regions: null,
      province: {},
      area: {},
      china: {}
    }
  },
  computed: {
    provinces() {
      return this.$store.getters['outlet/provinces'] || []
    }
  },
  async mounted() {
    this.$nextTick(async () => {
      this.loading = true
      await this.outletProvinceList()
      await this.initMapChart()
    })
  },
  methods: {
    async outletProvinceList() {
      try {
        await this.$store.dispatch('outlet/outletProvinceList')
      } catch (error) {
        this.$message.error('获取网点省份失败,请刷新页面重试！')
      }
    },
    async getProvince(pinyin, isProvince) {
      if (pinyin === 'china' && this.china.features) return this.china
      this.loading = true
      let provinceUrl = isProvince ? 'province/' : ''
      try {
        const { data: province } = await axios.get(
          `/json/${provinceUrl}${pinyin}.json`
        )
        for (const item of province.features) {
          item.selected = false
          let { id } = item
          let { name } = item.properties
          if (this.provinces.includes(id * 1)) item.selected = true
        }
        if (pinyin === 'china') this.china = province
        this.province[pinyin] = province
        this.loading = false
        return province
      } catch (error) {
        this.loading = false
        console.error(error)
      }
    },
    async setOption(item = {}, mapType = 'china', isProvince = false) {
      let { name, pinyin } = item
      let province = await this.getProvince(pinyin, isProvince)
      if (mapType !== 'china') echarts.registerMap(pinyin, province, province)
      let data = formatterArea(province.features)
      let options = {
        tooltip: {
          trigger: 'item',
          formatter: '{b}'
        },
        series: [
          {
            name,
            type: 'map',
            mapType: pinyin,
            label: {
              normal: {
                show: true,
                textStyle: {
                  color: '#555'
                }
              },
              emphasis: {
                show: true,
                textStyle: {
                  color: '#263240'
                }
              }
            },
            itemStyle: {
              normal: {
                borderColor: '#fff',
                areaColor: '#e8e9eb'
              },
              emphasis: {
                areaColor: '#91c42a',
                borderWidth: 0
              }
            },
            data,
            zoom: name === '海南' ? 5 : 1,
            center: name === '海南' ? [110.037218, 18.505006] : []
          }
        ]
      }
      return options
    },
    async initMapChart() {
      this.loading = true
      const mapChart = echarts.init(this.$refs.map)
      this.mapChart = mapChart
      this.loading = false
      mapChart.setOption(
        await this.setOption({ name: '中国', pinyin: 'china' })
      )
      mapChart.on('click', async ({ data }) => {
        if (!data) return
        if (data.name === '陕西') data.pinyin = 'shanxi1'
        this.regions = ''
        if (!data.selected) return
        if (this.loading) return
        const { features } = await this.getProvince(data.pinyin, true)
        this.center = features[0].properties.cp || [0, 0]
        this.isNational = true
        this.$nextTick(() => {
          this.regions = data.name
          this.$refs.amap.mapCenter = data.cp
          this.$refs.amap.getCity(data.id)
        })
        // let currentArea = this.china && this.china.features.find(item => item.properties.name === data.name)
        // if (currentArea) {
        //   mapChart.setOption(await this.setOption(data, data.name, true))
        //   return
        // }
        // console.log(data)
      })
    },
    async backChina() {
      this.isNational = false
      // this.mapChart.setOption(await this.setOption({name: '中国', pinyin: 'china'}))
      this.$nextTick(async () => {
        this.$refs.amap.getAmap().initMap()
        await this.initMapChart()
      })
    }
  }
}
</script>
<style lang="stylus" scoped>
  @import './style/area.styl'
</style>
