<template>
  <div class="shipping-area__query">
    <div
      v-loading="loading"
      class="shipping-area__query--content">
      <div class="address-list">
        <div
          ref="regionWrap"
          class="region-wrap">
          <h5 class="clear">
            {{ regions || '福建' }}
            <span
              class="back-btn"
              @click="backChina">返回全国</span>
          </h5>
          <collapse-transition>
            <ul>
              <li
                v-for="item in newCitys"
                :key="item.id"
                :class="{active:activeCity.cityId === item.id}"
                @click="activeClick(item)">
                {{ item.cityName | beyondReplace }} {{ item.outletNum }}
              </li>
            </ul>
          </collapse-transition>
          <v-fade-transition>
            <div
              v-if="citys.length>6"
              class="arrow-down">
              <v-icon
                :class="{'is-rotate':isUnfold}"
                @click="isUnfold=!isUnfold">
                keyboard_arrow_down
              </v-icon>
            </div>
          </v-fade-transition>

        </div>
        <ul
          ref="countyWrap"
          :style="{
            height:countyHeight+'px'
          }"
          class="county-wrap">
          <template v-if="activeCity.areaList">
            <li
              v-for="item in activeCity.areaList"
              :key="item.id"
              class="county-item">
              {{ item.areName }}
              <template v-if="item.areaList">
                <div
                  v-for="outlet in item.areaList"
                  :key="`outlet${outlet.id}`"
                  class="county-item__outlet"
                  @click="outletClick(outlet)">
                  <h5>
                    <div class="marker">
                      <img :src="icon">
                      <span>{{ outlet.index }}</span>
                    </div>
                    {{ outlet.outletName | isEmpty }}</h5>
                  <p>{{ outlet.contactNumber }}</p>
                  <p>{{ outlet.address | isEmpty }}</p>
                </div>
              </template>
            </li>
          </template>
          <template v-if="activeCity.cityOutletList">
            <li
              v-for="(item,idx) in activeCity.cityOutletList"
              :key="idx"
              class="county-item">
              <div
                class="county-item__outlet"
                @click="outletClick(item)">
                <h5>
                  <div class="marker">
                    <img :src="icon">
                    <span>{{ idx+1 }}</span>
                  </div>
                  {{ item.outletName | isEmpty }}</h5>
                <p>{{ item.contactNumber | isEmpty }}</p>
                <p>{{ item.address | isEmpty }}</p>
              </div>
            </li>
          </template>
        </ul>
      </div>
      <amap
        ref="amap"
        class="shipping-area__amap"
        height="610px"
        @center-change="centerChange"/>
    </div>
  </div>
</template>
<script>
import Amap from '~/components/Amap'
import axios from 'axios'
import CollapseTransition from '~/components/CollapseTransition'
import scrollIntoView from '~/utils/scroll-into-view.js'
export default {
  components: {
    Amap,
    CollapseTransition
  },
  props: {
    regions: {
      type: String,
      default: '福建'
    },
    latlng: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      loading: false,
      activeCity: {},
      isUnfold: false,
      address: [],
      icon: require('~/assets/image/location.png'),
      countyHeight: 0,
      mapCenter: [118.18564, 24.48916]
    }
  },
  computed: {
    citys() {
      return this.$store.getters['outlet/citys'] || []
    },
    newCitys() {
      return this.isUnfold ? this.citys : this.citys.slice(0, 6)
    }
  },
  updated() {
    let regionWrapHeight = this.$refs.regionWrap.clientHeight || 0
    this.countyHeight = 609 - regionWrapHeight
    scrollIntoView(this.$refs.countyWrap)
  },
  methods: {
    async centerChange(center) {
      this.mapCenter = center
      // await this.getCity()
    },
    getAmap() {
      return this.$refs.amap
    },
    backChina() {
      this.$emit('backChina')
    },
    async getCity(id) {
      try {
        if (this.loading) return
        this.loading = true
        this.isUnfold = false
        const data = await this.$store.dispatch(
          'outlet/outletDetailByProvinceById',
          id
        )
        this.activeClick(data[0])
        this.loading = false
      } catch (error) {
        this.$message.error('获取网点失败,请刷新页面重试！')
      } finally {
        this.loading = false
      }
    },
    async activeClick(item) {
      try {
        var placeSearch = new AMap.PlaceSearch({
          // city 指定搜索所在城市，支持传入格式有：城市名、citycode和adcode
          city: item.cityId
        })
        placeSearch.search('市政府', (status, result) => {
          if (result) {
            const { pois } = result.poiList || []
            const { lng, lat } = pois[0].location
            this.getAmap().center = [lng, lat]
            this.getAmap().zoom = 7
            this.getAmap().currentWindow.visible = false
          }
          // 查询成功时，result即对应匹配的POI信息
        })
        this.activeCity = item
        const { cityOutletList = [], areaList = [] } = item || {}
        let isArea = areaList.length > 0
        if (!isArea) {
          this.getAmap().setMark(cityOutletList)
          return
        }
        let list = []
        let index = 1
        areaList.forEach(item => {
          list = list.concat(item.areaList)
          item.areaList.forEach(child => {
            child.index = index
            index++
          })
        })
        this.getAmap().setMark(list)
      } catch (error) {
        console.log(error)
      }
    },
    outletClick(item) {
      this.getAmap().showMapWindow(item)
    }
  }
}
</script>
<style lang="stylus" scoped>
  @import './style/area-query.styl'
</style>
