<template>
  <v-card class="inquire-form">
    <v-card-text>
      <v-form
        ref="form"
        v-model="valid"
        :key="type">
        <v-container
          grid-list-md
          class="form-container">
          <v-layout
            wrap
            row>
            <v-flex xs6>
              <area-select
                v-model="form.pickupArea"
                label="取件地"
                required/>
            </v-flex>
            <v-flex xs6>
              <area-select
                v-model="form.bournArea"
                label="目的地"
                required/>
            </v-flex>
            <v-flex xs12>
              <label>货物信息</label>
              <div class="cargo-info__wapper">
                <v-text-field
                  label="长"
                  suffix="cm" />
                <v-text-field
                  label="宽"
                  suffix="cm" />
                <v-text-field
                  label="高"
                  suffix="cm" />
                <v-text-field
                  label="单箱重量"
                  suffix="kg" />
                <v-text-field
                  label="箱数"
                  suffix="箱"
                  mask="#########" />
              </div>
            </v-flex>
            <v-flex
              xs12
              class="pb-0">
              <label>货物类型</label>
              <v-radio-group
                v-model="form.type"
                row>
                <v-radio
                  v-for="(type,idx) in goodsType"
                  :key="`type${idx}`"
                  :label="type.label"
                  :value="type.value"
                  color="primary" />
              </v-radio-group>
            </v-flex>
            <v-flex
              xs12
              class="pb-0">
              <label>时间范围</label>
              <v-radio-group
                v-model="form.dateRange"
                row
                height="50"
                class="mt-0">
                <v-radio
                  v-for="(item,idx) in timeHorizonList"
                  :key="`dateRange${idx}`"
                  :label="item.label"
                  :value="item.value"
                  color="primary" />
                <v-radio
                  color="primary"
                  value="auto" />
                <v-text-field
                  :disabled="form.dateRange!='auto'"
                  style="max-width:210px;position:relative;left:-20px;"
                  suffix="日内"
                  mask="#########" />
              </v-radio-group>
            </v-flex>
            <v-flex
              v-if="type=='FAB'"
              xs12
              class="py-0">
              <label>运输方式</label>
              <v-radio-group
                v-model="form.modeOfTransport"
                row
                height="50"
                class="mt-0">
                <v-radio
                  v-for="(item,idx) in modeOfTransportList"
                  :key="`modeOfTransport${idx}`"
                  :label="item.label"
                  :value="item.value"
                  color="primary" />
              </v-radio-group>
            </v-flex>
            <v-flex xs12>
              <div class="hanler-wrap">
                <v-btn
                  color="primary"
                  depressed>&#x3000;&#x3000;全网查价&#x3000;&#x3000;</v-btn>
                <v-btn
                  outline
                  color="primary">批量发货</v-btn>
              </div>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import AreaSelect from '~/components/AreaSelect'
import goodsType from './goodsType.json'
export default {
  components: {
    AreaSelect
  },
  props: {
    type: {
      type: String,
      default: 'business'
    }
  },
  data() {
    return {
      goodsType,
      timeHorizonList: [
        {
          label: '10日内',
          value: 10
        },
        {
          label: '15日内',
          value: 15
        },
        {
          label: '30日内',
          value: 30
        }
      ],
      modeOfTransportList: [
        {
          label: '快递',
          value: 1
        },
        {
          label: '空派',
          value: 2
        },
        {
          label: '海运',
          value: 3
        },
        {
          label: '铁路',
          value: 4
        },
        {
          label: '中港',
          value: 5
        }
      ],
      valid: true,
      form: {
        pickupArea: [],
        bournArea: [],
        cargoLen: null,
        cargoHeight: null,
        cargoWidth: null,
        cargoWight: null,
        cargoNum: null,
        type: 1,
        dateRange: 10,
        modeOfTransport: 1
      }
    }
  },
  watch: {
    $route(n) {
      this.clear()
    }
  },
  methods: {
    clear() {
      this.$refs.form.reset()
      this.form = this.$resetFields(this.form)
      this.form.type = 1
      this.form.dateRange = 10
      this.form.modeOfTransport = 1
    }
  }
}
</script>

<style lang="stylus">
@require '~assets/style/variable.styl'
  .inquire-form
    transition collapse-transition
    form
      transition collapse-transition
    .cargo
      &-info__wapper
        display flex
        margin 8px -8px 0
        .v-input
          margin-left 8px
          margin-right 8px
    .hanler-wrap
      display flex
      justify-content center
</style>
