<template>
  <v-menu
    v-model="menu"
    :close-on-content-click="false"
    :close-on-click="areas[areas.length-1].length==0 || closeOnClick"
    class="area-select"
    min-width="500"
    max-width="500"
    transition="scale-transition"
    offset-y>
    <v-text-field
      ref="input"
      slot="activator"
      v-model="result"
      :class="{required}"
      :label="label"
      :placeholder="placeholder"
      :rules="rules"
      :disabled="disabled"
      color="primary"
      readonly/>
    <div
      class="h-tabs pa-2"
      style="background-color:#fff;">
      <tabs-bar
        v-if="!hideTab"
        ref="tabbar"
        v-model="tabActive"
        :list="newTabs"
        @active="tabsHandler"/>
      <div class="h-tabs__items">
        <template v-for="(item,idx) in areas">
          <transition
            :name="transition"
            :key="`tab${idx}`">
            <div
              v-show="tabActive==idx"
              class="h-tabs__item">
              <v-card flat>
                <v-card-text class="px-0 py-0">
                  <v-btn
                    v-for="addr in item"
                    :color="!!checks[idx]&&checks[idx].id==addr.id?'primary':null"
                    :class="{'active':!!checks[idx]&&checks[idx].id==addr.id}"
                    :key="addr.id"
                    small
                    flat
                    @click="setData(addr,idx)">
                    {{ addr.name }}
                  </v-btn>
                </v-card-text>
              </v-card>
            </div>
          </transition>
        </template>
      </div>
    </div>
  </v-menu>
</template>
<script>
import { addressList } from '~/utils/address.js'
import TabsBar from '../TabsBar'
export default {
  name: 'AreaSelect',
  components: {
    TabsBar
  },
  props: {
    value: {
      type: Array,
      default() {
        return []
      }
    },
    initArea: {
      type: Array,
      default() {
        return []
      }
    },
    label: {
      type: String,
      default: '请选择地区'
    },
    rules: {
      type: Array,
      default() {
        return []
      }
    },
    messages: {
      type: Array,
      default() {
        return []
      }
    },
    required: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    tabs: {
      type: Array,
      default() {
        return ['省', '市', '区/县']
      }
    },
    hideTab: {
      type: Boolean,
      default: false
    },
    closeOnClick: {
      type: Boolean,
      default: true
    },
    data: {
      type: Array,
      default: null
    }
  },
  data() {
    return {
      menu: false,
      result: null,
      checks: [],
      transition: 'tab-transition',
      tabActive: 0,
      areas: []
    }
  },
  computed: {
    newTabs() {
      let tabs = [...this.tabs].map((item, idx) => {
        return {
          label: item,
          disabled: !this.areas[idx] || this.areas[idx].length === 0
        }
      })
      return tabs
    }
  },
  watch: {
    tabActive(n, o) {
      this.transition = n < o ? 'tab-reverse-transition' : 'tab-transition'
    },
    checks: {
      handler(n) {
        let arr = []
        this.checks.forEach(item => arr.push(item.name))
        this.result = arr.join('/')
        this.$emit('input', this.checks)
        this.$emit('change', this.checks)
      },
      deep: true
    }
  },
  updated() {
    setTimeout(() => {
      !this.hideTab && this.menu && this.$refs.tabbar.initTab()
    }, 150)
  },
  created() {
    this.reset()
  },
  methods: {
    reset() {
      this.tabActive = 0
      this.areas = []
      this.checks = []
      let chinaArea = addressList.filter(({ id }) => id === 1 || id === 710000)
      !this.data && this.areas.push([...chinaArea[0].children, chinaArea[1]])
      this.data && (this.areas = this.data)
    },
    init(ids = []) {
      ids.forEach((item, idx) => {
        let current =
          this.areas[idx] && this.areas[idx].find(({ id }) => id === item)
        !!current && this.setData(current, idx)
      })
    },
    tabsHandler() {},
    setData(value = {}, tabIdx) {
      let current = { ...value }
      delete current.children
      this.checks[tabIdx] = current
      this.areas.splice(tabIdx + 1, this.areas.length)
      this.areas[tabIdx + 1] = value.children || []
      this.checks.splice(tabIdx + 1, this.checks.length)
      this.$nextTick(() => {
        if (value.children && value.children.length > 0) {
          this.tabActive = tabIdx + 1
        } else {
          this.menu = false
        }
        this.$emit('select', value, tabIdx, value.children, this.checks)
      })
    }
  }
}
</script>
<style lang="stylus" scoped>
.area-select
  display block
.h-tabs
  &__items
    position relative
    overflow hidden
  &__item
    width 100%
    transition transform 0.4s cubic-bezier(0.86, 0, 0.07, 1)
    background-color #fff
    .v-btn
      line-height 1
      padding 6px 12px
      min-width auto
      margin 6px 2px
      font-weight 400
      color #263240
      transition transform 0.4s cubic-bezier(0.86, 0, 0.07, 1)
</style>
