<template>
  <transition name="h-message-fade">
    <div
      v-show="visible"
      :class="[
        'h-message',
        type && !iconClass ? `h-message--${ type }` : '',
        center ? 'is-center' : '',
        customClass]"
      role="alert"
      @mouseenter="clearTimer"
      @mouseleave="startTimer">
      <i
        v-if="iconClass"
        :class="iconClass"/>
      <i
        v-else
        :class="typeClass"/>
      <slot>
        <p
          v-if="!dangerouslyUseHTMLString"
          class="h-message__content">{{ message }}</p>
        <p
          v-else
          class="h-message__content"
          v-html="message"/>
      </slot>
      <i
        v-if="showClose"
        class="h-message__closeBtn h-icon-close"
        @click="close"/>
    </div>
  </transition>
</template>

<script type="text/babel">
const typeMap = {
  success: 'success',
  info: 'info',
  warning: 'warning',
  error: 'error'
}

export default {
  data() {
    return {
      visible: false,
      message: '',
      duration: 3000,
      type: 'info',
      iconClass: '',
      customClass: '',
      onClose: null,
      showClose: false,
      closed: false,
      timer: null,
      dangerouslyUseHTMLString: false,
      center: false
    }
  },

  computed: {
    iconWrapClass() {
      const classes = ['h-message__icon']
      if (this.type && !this.iconClass) {
        classes.push(`h-message__icon--${this.type}`)
      }
      return classes
    },

    typeClass() {
      return this.type && !this.iconClass
        ? `h-message__icon h-icon-${typeMap[this.type]}`
        : ''
    }
  },

  watch: {
    closed(newVal) {
      if (newVal) {
        this.visible = false
        this.$el.addEventListener('transitionend', this.destroyElement)
      }
    }
  },
  mounted() {
    this.startTimer()
    document.addEventListener('keydown', this.keydown)
  },
  beforeDestroy() {
    document.removeEventListener('keydown', this.keydown)
  },

  methods: {
    destroyElement() {
      this.$el.removeEventListener('transitionend', this.destroyElement)
      this.$destroy(true)
      this.$el.parentNode.removeChild(this.$el)
    },

    close() {
      this.closed = true
      if (typeof this.onClose === 'function') {
        this.onClose(this)
      }
    },

    clearTimer() {
      clearTimeout(this.timer)
    },

    startTimer() {
      if (this.duration > 0) {
        this.timer = setTimeout(() => {
          if (!this.closed) {
            this.close()
          }
        }, this.duration)
      }
    },
    keydown(e) {
      if (e.keyCode === 27) {
        // esc关闭消息
        if (!this.closed) {
          this.close()
        }
      }
    }
  }
}
</script>
