<template>
  <div class="captcha-input">
    <v-text-field
      ref="input"
      :rules="rules"
      :class="{required}"
      v-model="initialValue"
      :disabled="disabled"
      :label="label"
      mask="######"
      @input="onInput"
      @change="onChange"
      @update:error="updateError"
      @focus="onFocus"
      @blur="onBlur"/>
    <span
      :class="{'is-error':!valid&&isError}"
      class="captcha-input__suffix"
      @click="captchaSuffix">
      {{ time>0?`(${time}s)后重新获取`:'发送验证码' }}
    </span>
  </div>
</template>

<script>
export default {
  name: 'CaptchaInput',
  props: {
    rules: {
      type: Array,
      default() {
        return []
      }
    },
    label: {
      type: String,
      default: '验证码'
    },
    required: {
      type: Boolean,
      default: false
    },
    disabled: {
      type: Boolean,
      default: false
    },
    value: {
      type: String,
      default: null
    },
    valid: {
      type: Boolean,
      default: false
    },
    waitTime: {
      type: Number,
      default: 60
    },
    getCaptcha: {
      type: Function,
      default: undefined
    }
  },
  data() {
    return {
      initialValue: this.value,
      isError: false,
      time: 0,
      timer: null
    }
  },
  watch: {
    value(val) {
      this.initialValue = val
    },
    valid() {
      if (!this.valid) {
        this.$nextTick(() => {
          if (this.$refs.input.validations.length > 0) this.isError = true
          else this.isError = false
        })
      }
    }
  },
  beforeDestroy() {
    clearTimeout(this.timer)
  },
  methods: {
    clock() {
      if (this.time > 0) {
        this.time--
        this.timer = setTimeout(this.clock, 1000)
      }
    },
    resetTime() {
      this.time = 0
    },
    updateError(isError) {
      this.isError = isError
    },
    onFocus() {
      // console.log(this.$refs.input.validations)
    },
    onBlur() {
      setTimeout(() => {
        if (this.$refs.input.validations.length > 0) {
          this.isError = true
        } else this.isError = false
      })
    },
    onInput(val) {
      this.internalValue = val
      this.$emit('input', val)
    },
    onChange(val) {
      this.$emit('change', val)
    },
    captchaSuffix() {
      if (this.disabled) return
      if (this.time > 0) return
      this.time = this.waitTime
      this.clock()
      this.$emit('click:captcha-suffix', this.initialValue)
      if (this.getCaptcha) this.getCaptcha()
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~assets/style/variable.styl'
.captcha-input
  position relative
  .v-text-field
    width 100% !important
  &__suffix
    font-size 12px
    color light-grey-color
    position absolute
    right 10px
    top 12px
    cursor pointer
    &.is-error
      color error-color
</style>
