<template>
  <v-menu
    :close-on-content-click="false"
    v-model="menu"
    :nudge-right="10"
    lazy
    transition="scale-transition"
    offset-y
    full-width
    min-width="290px">
    <v-text-field
      slot="activator"
      v-model="date"
      :placeholder="placeholder"
      :rules="rules"
      :class="{required}"
      :label="label"
      :disabled="disabled"
      :prepend-icon="prependIcon"
      readonly/>
    <v-date-picker
      v-model="date"
      :min="min"
      no-title
      scrollable
      color="primary"
      @input="menu = false"/>
  </v-menu>
</template>
<script>
import { dtime } from '~/utils/filters'
export default {
  name: 'DatePicker',
  props: {
    value: {
      type: [String, Array],
      default: undefined
    },
    label: {
      type: String,
      default: null
    },
    rules: {
      type: Array,
      default: () => []
    },
    required: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: null
    },
    disabled: {
      type: Boolean,
      default: false
    },
    prependIcon: {
      type: String,
      default: undefined
    },
    min: {
      type: String,
      default: dtime(new Date())
    }
  },
  data() {
    return {
      menu: false,
      date: null
    }
  },
  watch: {
    date(val) {
      this.$emit('input', this.date)
    }
  }
}
</script>
