@require '~assets/style/variable.styl'
.shipping-area
  &__query
    transition default-transition !important
    color font-default-color
    &--content
      display flex
      .address-list
        width 380px
        height 610px
        border: 1px solid border-color
        margin-right 10px
        // display flex
        // flex-wrap wrap
        ul
          list-style none
          padding 0
        .region-wrap
          background light-bg-color
          padding 16px 12px
          position relative
          // -webkit-transition collapse-transition
          // transition collapse-transition
          h5
            font-size 16px
            line-height 16px
            margin-bottom 20px
            font-weight normal
            .back-btn
              font-size 12px
              float right
              cursor: pointer
              transition default-transition
              color medium-grey-color
              font-weight normal
              &:hover
                color green-color
          ul
            margin 0 -4px -4px
            display flex
            flex-wrap wrap
            flex-direction row
            li
              // width 33.33333333333333%
              transition default-transition
              width calc(50% - 6px)
              height 28px
              line-height 28px
              font-size 12px
              background-color #fff !important
              color font-default-color
              box-sizing border-box
              margin 3px
              border 1px solid border-color
              text-align center
              cursor pointer
              &.active
                border-color green-color
          .arrow-down
            height 24px
            display flex
            justify-content center
            position relative
            top 10px
            .v-icon
              &.is-rotate
                transform rotate(-180deg)

        & ul.county-wrap
          overflow-y auto
          padding 0 10px
          .county-item
            font-size 12px
            font-weight normal
            padding 10px 0
            border-bottom solid 1px border-color
            &:last-child
              border none
            &__outlet
              color medium-grey-color
              cursor pointer
              h5
                padding-top 10px
                font-size 14px
                line-height 1
                font-weight normal
                color font-default-color
                .marker
                  display inline-block
                  position relative
                  top 8px
                img
                  height 22px
                span
                  font-size 12px
                  color #fff
                  position absolute
                  left 50%
                  top 9px
                  z-index 10
                  transform translate(-50%,-50%)
              p
                margin 0
                margin-top 8px
                padding-left 24px
                line-height 1.1

  &__amap
    border: 1px solid border-color
