<template>
  <div>
    <v-text-field
      ref="input"
      :rules="rules"
      :class="{required}"
      :label="label"
      v-model="model"
      :error-messages="errorMessages"
      :loading="isUploading"
      :messages="fileMessages"
      readonly
      @focus="onFocus"
      @click="openPicker"
      @update:error="updateError"
      @blur="onBlur">
      <v-progress-linear
        v-if="isUploading"
        slot="progress"
        :value="file.progress"
        :color="file.status=='error'?'error':'primary'"
        height="2"/>
    </v-text-field>
    <input
      ref="inputFile"
      v-bind="attributes"
      type="file"
      hidden
      @change="onChange" >
  </div>
</template>
<script>
import compress from './image.js'
import axios from 'axios'
import Message from '../Message'
export default {
  name: 'UploadPhoto',
  props: {
    required: {
      type: Boolean,
      default: false
    },
    label: {
      type: String,
      default: '上传文件'
    },
    rules: {
      type: Array,
      default() {
        return []
      }
    },
    value: {
      type: String,
      default: null
    },
    isPublic: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      model: this.value,
      fileMessages: [],
      isClick: false,
      uploadUrl: null,
      expire: 0,
      uploadParams: {},
      file: null,
      files: [],
      errorMessages: '',
      fileValue: null
    }
  },
  computed: {
    attributes() {
      let attributes = { ...this.$attrs }
      if (!attributes.accept) attributes.accept = 'image/*'
      return attributes
    },
    isUploading() {
      return (
        !!this.file &&
        (this.file.status === 'uploading' || this.file.status === 'ready')
      )
    },
    isUploadSuccess() {
      return !!this.file && this.file.status === 'success'
    }
  },
  watch: {
    value(val) {
      this.model = val
    }
  },
  async mounted() {
    if (!sessionStorage.getItem('ossParams')) await this.getUploadParams()
  },
  methods: {
    async getUploadParams() {
      try {
        const data = await this.$store.dispatch('public/uploadParams')
        this.uploadParams = data
        this.expire = data.expire
        if (this.isPublic) {
          this.uploadUrl = data.publicURL
        } else {
          this.uploadUrl = data.url
        }
        sessionStorage.setItem('ossParams', JSON.stringify(data))
      } catch (error) {
        console.error(error)
        throw error
      }
    },
    async outSysTime() {
      let ossParams = JSON.parse(sessionStorage.getItem('ossParams')) || {}
      let sysTime = parseInt(new Date().getTime() / 1000)
      if (sysTime >= ossParams.expire || sysTime - ossParams.expire >= -60) {
        await this.getUploadParams()
      }
    },
    ossParam(file) {
      let oss = JSON.parse(sessionStorage.getItem('ossParams')) || {}
      const param = new FormData() // 创建form对象
      param.append('Filename', file.name) // 添加form表单中其他数据
      param.append('key', file.key) // 添加form表单中其他数据
      param.append('OSSAccessKeyId', oss.appId) // 添加form表单中其他数据
      param.append('policy', oss.policy) // 添加form表单中其他数据
      param.append('signature', oss.signature) // 添加form表单中其他数据
      param.append('file', file.file, file.name) // 通过append向form对象添加file对象
      param.append('success_action_status', 200) // 添加form表单中其他数据
      return param
    },
    getMultipleName(files = []) {
      let names = []
      ;[...files].forEach(({ name }) => names.push(name))
      return names.join(', ')
    },
    fileName(files, target) {
      // if (!files || files.length === 0) return target.value.split('\\').pop()
      if (files.length > 1) return this.getMultipleName(files)
      if (files.length === 1) return files[0].name
      return null
    },
    getFileName(name) {
      let currentTime = new Date()
      let dateStr =
        this.padStr(currentTime.getFullYear()) +
        this.padStr(1 + currentTime.getMonth()) +
        this.padStr(currentTime.getDate()) +
        this.padStr(currentTime.getHours()) +
        this.padStr(currentTime.getMinutes()) +
        this.padStr(currentTime.getSeconds()) +
        Math.floor(Math.random() * 10000 + 1)
      let newArr = name.split('.')
      return dateStr + '.' + newArr[newArr.length - 1].toLowerCase()
    },
    onFocus() {
      this.$refs.input.blur()
      this.$refs.input.isFocused = false
    },
    openPicker() {
      if (this.isUploading) return
      if (this.isClick) return
      this.isClick = true
      this.fileMessages = '只能上传jpg/png文件，且不超过1M'
      setTimeout(() => {
        this.$refs.inputFile.click()
        this.isClick = false
      }, 220)
    },
    // input file事件变化
    onChange($event) {
      this.onFileSelected($event)
      // this.$refs.input.focus()
      this.errorMessages = ''
      // this.$refs.input.isFocused = true
      this.fileMessages = []
    },
    createURL(file) {
      if (file && URL) return URL.createObjectURL(file)
      return ''
    },
    padStr(i) {
      return i < 10 ? '0' + i : '' + i
    },
    newFile(file) {
      const base64 = (file && file.base64) || ''
      const url = base64 ? '' : this.createURL(file)
      let filename = file ? `${this.getFileName(file.name)}` : ''
      let key = file ? `temp/${filename}` : ''
      return {
        key,
        filename,
        name: file.name,
        size: file.size,
        url,
        base64,
        file,
        progress: 0,
        status: 'ready'
      }
    },
    // 选择文件后
    onFileSelected({ target, dataTransfer }) {
      const files = target.files || dataTransfer.files
      let newFiles = []
      if (files.length === 0) return
      for (const file of files) {
        if (!this.imgCheck(file)) return
        newFiles.push(file)
      }
      if (newFiles.length === 0) return
      newFiles.forEach((item, idx) => {
        compress(
          item,
          {
            compress: {
              width: 750,
              height: 1334,
              quality: 0.5
            }
          },
          async file => this.uploadFile(file, idx)
        )
      })
    },
    async uploadFile(file, idx) {
      let newFile = this.newFile(file)
      this.$emit('change', newFile)
      // this.$emit('input', newFile)
      this.files.push(newFile)
      this.model = newFile.name
      this.file = newFile
      let currentFile = this.files[this.files.length - 1]
      this.errorMessages = ''
      if (!!this.$refs.inputFile) this.$refs.inputFile.value = null
      try {
        await this.outSysTime()
        let ossParams = JSON.parse(sessionStorage.getItem('ossParams')) || {}
        await axios.post(
          this.isPublic ? ossParams.publicURL : ossParams.url,
          this.ossParam(currentFile),
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            },
            onUploadProgress: e => {
              let percentage = Math.round((e.loaded * 100) / e.total) || 0
              currentFile.progress = percentage
              currentFile.status = 'uploading'
              this.file.progress = percentage
              this.file.status = 'uploading'
              this.$emit('uploading', percentage)
            }
          }
        )
        currentFile.status = 'success'
        this.file.status = 'success'
        Message.success('上传成功')
      } catch (error) {
        console.error(error)
        currentFile.status = 'error'
        this.file.status = 'error'
        this.errorMessages = '上传失败'
        Message.error('上传失败')
      } finally {
        this.$emit('upload-end', currentFile)
      }
    },
    imgCheck(file) {
      if (['image/jpeg', 'image/jpg', 'image/png'].indexOf(file.type) === -1) {
        Message.error('请上传jpg, png格式的图片')
        return false
      } else if (file.size / 1024 / 1024 > 1) {
        Message.error('上传图片大小不能超过1MB')
        return false
      } else {
        return true
      }
    },
    updateError(isError) {
      this.isError = isError
      if (isError) this.fileMessages = []
    },
    onBlur() {
      setTimeout(() => {
        if (this.$refs.input.validations) {
          this.isError = true
          // this.fileMessages = []
        }
      })
    }
  }
}
</script>
