<template>
  <div class="bar-content">
    <div
      class="logo"
      @click="skipPage('/expres-single')">
      <img :src="dark?require('~/assets/image/logo.svg'):require('~/assets/image/hst-logo.svg')">
      <span class="logo-title">&nbsp;| 海速跨境平台</span>
    </div>
    <v-spacer/>
    <v-slide-x-reverse-transition>
      <div
        v-if="!mini"
        class="right-bar">
        <ul class="tabs">
          <li
            v-for="item in tablist"
            :key="item.href"
            :class="{'is-active':currentRoute(item.href)}"
            class="tab">
            <v-btn
              :dark="dark"
              flat
              @click="skipPage(item.href)">{{ item.label }}</v-btn>
          </li>
          <v-slide-x-reverse-transition>
            <li
              v-if="!!userInfo"
              :class="{'is-active':currentRoute('/my')}"
              class="tab">
              <v-menu
                min-width="180"
                offset-y
                left
                transition="slide-y-transition"
                content-class="mini-menu">
                <v-btn
                  slot="activator"
                  :dark="dark"
                  style="height:70px;pointer-events:auto;"
                  flat
                  class="text-capitalize"
                  @click="isUnfold=!isUnfold">{{ username }}
                  <v-icon>arrow_drop_down</v-icon>
                </v-btn>
                <v-list>
                  <v-list-tile
                    @click="skipPage('/my/place-order')">
                    <v-list-tile-title>用户中心</v-list-tile-title>
                  </v-list-tile>
                  <v-list-tile
                    @click="logout">
                    <v-list-tile-title>退出登录</v-list-tile-title>
                  </v-list-tile>
                </v-list>
              </v-menu>
            </li>
          </v-slide-x-reverse-transition>
        </ul>
        <no-ssr>
          <v-slide-x-reverse-transition>
            <span
              v-if="!hideRegister && !userInfo"
              class="login-handle">
              <v-btn
                flat
                @click="showLogin">登录</v-btn>&nbsp;
              <v-btn
                outline
                @click="skipPage('/register')">注册</v-btn>
            </span>
          </v-slide-x-reverse-transition>
        </no-ssr>
      </div>
    </v-slide-x-reverse-transition>
    <v-menu
      v-if="mini"
      v-model="menu"
      :close-on-content-click="false"
      min-width="180"
      bottom
      offset-y
      content-class="mini-menu"
      origin="top right"
      transition="scale-transition">
      <v-btn
        slot="activator"
        dark
        icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
      <v-list>
        <v-list-tile
          v-for="item in tablist"
          :key="item.href"
          @click="skipPage(item.href)">
          <v-list-tile-title>{{ item.label }}</v-list-tile-title>
        </v-list-tile>
        <template v-if="!hideRegister && !userInfo">
          <v-list-tile
            @click="showLogin">
            <v-list-tile-title>登录</v-list-tile-title>
          </v-list-tile>
          <v-list-tile
            @click="skipPage('/register')">
            <v-list-tile-title>注册</v-list-tile-title>
          </v-list-tile>
        </template>
        <v-list-group
          v-if="!!userInfo"
          v-model="isUnfold"
          append-icon="">
          <v-list-tile
            slot="activator"
            @click="isUnfold=!isUnfold">
            <v-list-tile-content>
              <v-list-tile-title>{{ username }}
                <v-icon :class="{'is-rotate':isUnfold}">arrow_drop_down</v-icon>
              </v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile
            @click="skipPage('/my/place-order')">
            <v-list-tile-title>用户中心</v-list-tile-title>
          </v-list-tile>
          <v-list-tile
            @click="logout">
            <v-list-tile-title>退出登录</v-list-tile-title>
          </v-list-tile>
        </v-list-group>
      </v-list>
    </v-menu>
  </div>
</template>
<script>
import ToolbarTabs from './ToolbarTabs'
import TabsBar from '../TabsBar'
import initMixin from '~/mixin/init-mixin.js'

export default {
  components: {
    ToolbarTabs,
    TabsBar
  },
  mixins: [initMixin],
  props: {
    mini: {
      type: Boolean,
      default: false
    },
    hideRegister: {
      type: Boolean,
      default: false
    },
    dark: {
      type: Boolean,
      default: true
    }
  },
  data() {
    return {
      menu: false,
      isUnfold: false,
      tablist: [
        {
          label: '快速查件',
          href: '/expres-single'
        },
        {
          // label: '查价寄件',
          // href: '/checkprice-shipping'
          label: '海速寄件',
          href: '/shipping'
        },
        // {
        //   label: '物流商入驻',
        //   href: '/logistics-entering'
        // }
        {
          label: '常见问题',
          href: '/common-problems'
        }
      ]
    }
  },
  computed: {
    isMyPage() {
      return this.$route.path.includes('/my')
    },
    username() {
      const { user = {}, type = 0 } = this.userInfo || {}
      if (type < 2) return user.username || '-'
      if (type === 3) return user.outletName || '-'
      return user.companyName || '-'
    }
  },
  watch: {
    menu(val) {
      if (!val) this.isUnfold = false
    }
  },
  methods: {
    currentRoute(href) {
      return this.$route.path.includes(href)
    },
    showLogin() {
      this.menu = false
      this.$emit('login-click')
    },
    skipPage(href) {
      this.$router.push(href)
      this.menu = false
    },
    async logout() {
      this.menu = false
      const loading = this.$loading({
        text: 'Loading...'
      })
      try {
        await this.$store.dispatch('public/logout')
        this.$router.push('/')
        this.$message.success('登出成功！')
      } catch (error) {
        console.log(error)
        this.$message.error('登出失败！')
      } finally {
        loading.close()
      }
    }
  }
}
</script>
<style lang="stylus">
@import './style/layout-toolbar.styl'
</style>
