<template>
  <v-app>
    <div
      v-resize="onResize"
      class="body">
      <v-toolbar
        :dark="isDark"
        :flat="!isDark"
        height="70"
        fixed
        class="body-bar"
        tabs
        scroll-target="#body-container">
        <layout-toolbar
          :dark="isDark"
          :mini="mini"
          :hide-register="isRegisterPage"
          @login-click="showLogin"/>
        <toolbar-tabs
          v-if="isMyPage"
          slot="extension"/>
      </v-toolbar>
      <div
        id="body-container"
        ref="bodyContainer"
        :class="{'is-tab':isMyPage}"
        class="body-container">
        <nuxt/>
      </div>
    </div>
    <login-dialog ref="dialog"/>
  </v-app>
</template>

<script>
import LoginDialog from './LoginDialog'
import LayoutToolbar from './LayoutToolbar'
import routerJudge from '~/mixin/router-judge.js'
import ToolbarTabs from './ToolbarTabs'
export default {
  components: {
    LoginDialog,
    LayoutToolbar,
    ToolbarTabs
  },
  mixins: [routerJudge],
  data() {
    return {
      timer: null,
      mini: false,
      tabs: null
    }
  },
  computed: {
    isDark() {
      return !this.isRegisterPage && !this.isMyPage && !this.isForgetPage
    }
  },
  watch: {
    $route() {
      this.$nextTick(() => {
        if (!process.client) return
        const container = document.documentElement || document.body
        if (!container) return
        // container.scrollTop = 0
        clearInterval(this.timer)
        this.timer = setInterval(() => {
          let top = container.scrollTop
          let step = Math.floor(top / 10)
          if (step <= 0) clearInterval(this.timer)
          top -= step
          container.scrollTop = top
        }, 5)
      })
    }
  },
  mounted() {
    this.onResize()
  },
  methods: {
    onResize() {
      this.mini = window.innerWidth <= 992
    },
    showLogin() {
      this.$refs.dialog.show()
    }
  }
}
</script>

<style lang="stylus">
@import './style/layout.styl'
</style>
