<template>
  <v-layout
    row
    justify-center>
    <v-dialog
      v-model="visible"
      persistent
      max-width="420px">
      <v-card v-loading="loading">
        <v-card-title class="px-4">
          <span class="headline">
            <h4>登录</h4>
          </span>
          <v-spacer/>
          <v-btn
            flat
            icon
            small
            class="mx-0 my-0"
            @click.native="cancel">
            <v-icon
              small
              color="medium-grey-color">close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="py-0">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            @keyup.enter.native="login">
            <v-text-field
              v-model="form.username"
              :rules="rules.username"
              prepend-icon="person"
              name="login"
              label="手机号"
              type="text"/>
            <v-text-field
              v-model="form.password"
              :rules="rules.password"
              prepend-icon="lock"
              name="password"
              label="密码"
              type="password"/>
          </v-form>
        </v-card-text>
        <v-card-actions class="px-4 pb-4">
          <!-- <v-btn
            flat
            color="primary">
            忘记密码？
          </v-btn> -->
          <v-spacer/>
          <v-btn
            flat
            color="light-grey-color"
            @click="skipForget">
            忘记密码？
          </v-btn>
          <v-btn
            :loading="loading"
            depressed
            color="primary"
            @click.native="login">登录</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      visible: false,
      valid: true,
      form: {
        username: '',
        password: ''
      },
      rules: {
        username: [
          v => {
            if (!v) return '请输入手机号'
            if (!/^1[3-9]{1}\d{9}$/g.test(v)) {
              return '手机号格式错误'
            }
            return true
          }
        ],
        password: [
          v => {
            if (!v) return '请输入密码'
            if (!/^[a-zA-Z0-9]{6,12}$/g.test(v)) return '密码格式错误'
            return true
          }
        ]
      },
      loading: false
    }
  },
  methods: {
    show() {
      this.visible = true
    },
    async login() {
      if (!this.$refs.form.validate()) return
      if (this.loading) return
      this.loading = true
      try {
        const { type } = await this.$store.dispatch('public/login', this.form)
        this.cancel()
        this.$message.success('登录成功！')
        if (type < 2) this.$router.push('/my/customer-order')
        else this.$router.push('/my/logistics-outlet-order')
      } catch (error) {
        this.$message.error(error.message)
      } finally {
        this.loading = false
      }
    },
    skipForget() {
      this.$router.push('/forget')
      this.cancel()
    },
    cancel() {
      this.$refs.form.reset()
      this.form = this.$resetFields(this.form)
      this.visible = false
    }
  }
}
</script>
