<template>
  <div>
    <!-- <v-toolbar
      tabs
      fixed
      height="60px"
      class="px-0">

      <v-spacer/>

      <v-tabs
        slot="extension"
        v-model="model"
        centered
        dark
        color="barcolor"
        slider-color="primary"
      >
        <v-tab
          v-for="i in 3"
          :key="i"
          :href="`#tab-${i}`"
        >
          Item {{ i }}
        </v-tab>
      </v-tabs>
    </v-toolbar> -->
    <foote/>
  </div>
</template>
<script>
import Foote from '~/components/Foote'
import initMixin from '~/mixin/init-mixin.js'
export default {
  components: {
    Foote
  },
  mixins: [initMixin],
  layout: 'base',
  head: {
    title: '个人中心'
  },
  data() {
    return {
      model: null
    }
  },
  created() {
    if (this.userType < 2) this.$router.push('/my/customer-order')
    else this.$router.push('/my/logistics-outlet-order')
  }
}
</script>
