<template>
  <div class="my-outlet-mng">
    <div class="page-container">
      <div
        :style="{
          width: '1000px',
          margin: 'auto'
      }">
        <v-card>
          <div class="header-handle">
            <search-box
              width="260px"
              placeholder="输入网点名查询"
              @search="searchHandle"/>
            <v-select
              :items="outletAddressList"
              v-model="search.cityId"
              :loading="addrLoad"
              :readonly="loading"
              class="outlet-select px-0"
              item-text="address"
              item-value="cityId"/>
            <v-spacer/>
            <v-btn
              outline
              color="primary"
              @click="outletDialog(false)">新增网点</v-btn>
          </div>
          <v-data-table
            :headers="headers"
            :items="outlets.list"
            :pagination.sync="pagination"
            :rows-per-page-items="[10,20,30]"
            :total-items="outlets.count"
            :loading="loading"
            class="table-border"
            rows-per-page-text="每页行数"
            @update:pagination="updatePage">
            <template
              slot="items"
              slot-scope="{item}">
              <td style="width:140px">{{ item.outletName }}</td>
              <td>{{ item.provinceName }}{{ item.cityName }}{{ item.areaName }}{{ item.fullAddress }}</td>
              <td style="width:120px">{{ item.contact }}</td>
              <td style="width:150px">{{ item.phone }}</td>
              <td style="width:130px">{{ item.contactNumber }}</td>
              <td
                class="text-xs-right px-0 handle-cell"
                style="width:50px">
                <v-btn
                  flat
                  icon
                  small
                  color="medium-grey-color"
                  @click="outletDialog(true,item)">
                  <v-icon small>keyboard_arrow_right</v-icon>
              </v-btn></td>
            </template>
          </v-data-table>
        </v-card>
      </div>
    </div>
    <add-edit-outlet-dialog
      ref="dialog"
      @refresh="reset"/>
  </div>
</template>
<script>
import SearchBox from '~/components/SearchBox'
import AddEditOutletDialog from '~/components/page/my/AddEditOutletDialog'
export default {
  components: {
    SearchBox,
    AddEditOutletDialog
  },
  layout: 'base',
  head: {
    title: '网点管理'
  },
  data() {
    return {
      select: null,
      items: [
        {
          text: '全部网点',
          value: null
        }
      ],
      headers: [
        {
          text: '网点名',
          name: 'outlet_name',
          sortable: false
        },
        {
          text: '网点地址',
          name: 'outlet_address',
          sortable: false
        },
        {
          text: '联系人',
          name: 'concat_name',
          sortable: false
        },
        {
          text: '联系方式',
          name: 'concat_phone',
          sortable: false
        },
        {
          text: '网点电话',
          name: 'outlet_tel',
          sortable: false
        },
        { sortable: false }
      ],
      loading: true,
      pagination: {
        page: 1,
        rowsPerPage: 10
      },
      search: {
        pageIndex: 1,
        pageSize: 10,
        outletName: null,
        cityId: null
      },
      outletData: {
        list: []
      },
      timer: null,
      addrLoad: true
    }
  },
  computed: {
    outlets() {
      return this.$store.getters['outlet/outlets'] || { list: [], count: 0 }
    },
    outletAddressList() {
      let list = this.$store.getters['outlet/addressList'] || []
      return [
        {
          address: '全部网点',
          cityId: null
        },
        ...list
      ]
    }
  },
  watch: {
    search: {
      handler() {
        clearTimeout(this.timer)
        this.timer = setTimeout(async () => {
          await this.getOutletLogisticsList()
        }, 300)
      },
      deep: true
    }
  },
  async mounted() {
    this.getOutletLogisticsAddressList()
    await this.getOutletLogisticsList()
  },
  methods: {
    reset() {
      this.pagination = {
        page: 1,
        rowsPerPage: 10
      }
      this.search = {
        pageIndex: 1,
        pageSize: 10,
        outletName: null,
        cityId: null
      }
      this.getOutletLogisticsAddressList()
    },
    searchHandle(val) {
      this.search.outletName = val
    },
    outletDialog(isEdit, item) {
      const dialog = this.$refs.dialog
      dialog.show(isEdit, item)
    },
    async getOutletLogisticsList() {
      this.loading = true
      try {
        let params = { ...this.search }
        params.pageIndex--
        await this.$store.dispatch('outlet/getOutletList', params)
      } catch (error) {
        console.error(error)
      } finally {
        this.loading = false
      }
    },
    updatePage({ page, rowsPerPage }) {
      this.search.pageIndex = page
      this.search.pageSize = rowsPerPage
    },
    async getOutletLogisticsAddressList() {
      try {
        await this.$store.dispatch('outlet/getOutletAddressList')
      } catch (error) {
      } finally {
        this.addrLoad = false
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '~assets/style/variable.styl'
.my-outlet-mng
  .v-card
    padding 40px 30px 30px
    .header-handle
      display flex
      // margin-bottom -10px
      .v-select
        display inline-block
        width 180px
        margin-left 20px
        position relative
        flex none

</style>
