<template>
  <div class="customer-place-order">
    <div class="page-container">
      <v-card
        v-loading="loading"
        class="customer-place-order__form">
        <v-form
          ref="form"
          v-model="valid">
          <v-container
            grid-list-md
            class="form-container">
            <v-layout
              wrap
              row>
              <v-flex xs12>
                <h3 class="pt-3">寄件人信息</h3>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  v-model="form.sendContact"
                  :rules="rules.sendContact"
                  label="寄件人"
                  class="required"/>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  v-model="form.sendCompanyName"
                  label="寄件公司"/>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  v-model="form.sendContactNumber"
                  :rules="rules.sendContactNumber"
                  label="联系方式"
                  class="required"/>
              </v-flex>
              <v-flex xs4>
                <area-select
                  :rules="rules.sendArea"
                  :close-on-click="false"
                  required
                  label="寄件人地址"
                  @select="(...args)=>areaSelect('send',args)"/>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="form.sendFullAddress"
                  :rules="rules.sendFullAddress"
                  label="详细地址"
                  class="required"/>
              </v-flex>
              <v-flex xs12>
                <h3 class="pt-3">收件人信息</h3>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  v-model="form.receiveContact"
                  :rules="[v => !!v || '请输入收件人']"
                  label="收件人"
                  class="required"/>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  v-model="form.receiveCompanyName"
                  label="收件人公司"/>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  v-model="form.receiveContactNumber"
                  :rules="[v => !!v || '请输入联系方式']"
                  label="联系方式"
                  class="required"/>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  v-model="form.receiveIdCard"
                  :rules="[v => !!v || '请输入收件人统编']"
                  label="收件人统编"
                  class="required"/>
              </v-flex>
              <v-flex xs8/>
              <v-flex xs4>
                <area-select
                  :rules="rules.receiveArea"
                  :close-on-click="false"
                  required
                  label="收件地址"
                  @select="vals=>areaSelect('receive',vals)"/>
              </v-flex>
              <v-flex xs8>
                <v-text-field
                  v-model="form.receiveFullAddress"
                  :rules="rules.receiveFullAddress"
                  label="详细地址"
                  class="required"/>
              </v-flex>
            </v-layout>
            <cargo-info-form ref="cargoInfo"/>
            <v-layout
              wrap
              row>
              <v-flex xs12>
                <h3 class="pt-3">代收网点</h3>
              </v-flex>
              <v-flex xs3>
                <v-select
                  :items="logisticsAddressList"
                  :rules="rules.logisticsAddress"
                  :readonly="outletLogisticsListLoad"
                  item-text="address"
                  item-value="cityId"
                  label="网点所在地"
                  class="required"
                  @input="citySelect"/>
              </v-flex>
              <v-flex xs3>
                <v-select
                  v-model="form.outletId"
                  :items="outletLogisticsList"
                  :rules="rules.outletId"
                  :loading="outletLogisticsListLoad"
                  no-data-text="请先选择网点所在地"
                  label="收件网点"
                  item-text="outletName"
                  item-value="id"
                  class="required"/>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="form.info"
                  disabled
                  label="网点信息"/>
              </v-flex>
              <v-flex xs12>
                <v-radio-group
                  v-model="form.collectWay"
                  row>
                  <label class="radio-label required">揽收方式：</label>
                  <v-radio
                    v-for="item in collectWayList"
                    :key="item.value"
                    :value="item.value"
                    :label="item.label"
                    color="primary"/>
                </v-radio-group>
              </v-flex>
              <template v-if="form.collectWay==2">
                <v-flex xs4>
                  <v-text-field
                    v-model="form.expressNo"
                    :rules="rules.expressNo"
                    label="物流单号"/>
                </v-flex>
                <v-flex
                  class="display-flex align-center">
                  <span class="logistics-numdesc">
                    请填写物流单号，以便完善全程物流跟踪信息
                  </span>
                </v-flex>
              </template>
            </v-layout>
          </v-container>
        </v-form>
        <div class="hanler-wrap">
          <v-btn
            dark
            color="light-barcolor"
            depressed
            @click="submit">提 交</v-btn>
        </div>
      </v-card>
    </div>
    <foote/>
  </div>
</template>
<script>
import Foote from '~/components/Foote'
import AreaSelect from '~/components/AreaSelect/select'
import CargoInfoForm from '~/components/page/my/CargoInfoForm'
import { collectWayList } from '~/assets/data.json'
import initMixin from '~/mixin/init-mixin.js'

export default {
  components: {
    Foote,
    AreaSelect,
    CargoInfoForm
  },
  mixins: [initMixin],
  layout: 'base',
  head: {
    title: '客户下单'
  },
  data(vm) {
    return {
      valid: false,
      loading: false,
      outletLogisticsListLoad: false,
      form: {
        outletId: null,
        sendCompanyName: null,
        sendContact: null,
        sendContactNumber: null,
        sendProvinceId: null,
        sendProvinceName: null,
        sendCityId: null,
        sendCityName: null,
        sendAreaId: null,
        sendAreaName: null,
        sendFullAddress: null,
        receiveCompanyName: null,
        receiveContact: null,
        receiveContactNumber: null,
        receiveIdCard: null,
        receiveProvinceId: null,
        receiveProvinceName: null,
        receiveCityId: null,
        receiveCityName: null,
        receiveAreaId: null,
        receiveAreaName: null,
        receiveFullAddress: null,
        collectWay: 0,
        expressNo: null
      },
      rules: {
        sendContact: [v => !!v || '请输入寄件人'],
        sendContactNumber: [v => !!v || '请输入联系方式'],
        sendArea: [v => !!v || '请选择寄件人地址'],
        sendFullAddress: [v => !!v || '请输入详细地址'],
        receiveContact: null,
        receiveContactNumber: null,
        receiveIdCard: null,
        receiveArea: [v => !!v || '请选择收件人地址'],
        receiveFullAddress: [v => !!v || '请输入详细地址'],
        logisticsAddress: [v => !!v || '请选择网点所在地'],
        outletId: [v => !!v || '请选择收件网点'],
        expressNo: [
          v => {
            if (!v) return true
            return /[a-zA-Z0-9]$/g.test(v) || '物流单号格式错误'
          }
        ]
      },
      collectWayList
    }
  },
  computed: {
    logisticsAddressList() {
      return this.$store.getters['outlet/addressList'] || []
    },
    outletLogisticsList() {
      let { list } = this.$store.getters['outlet/outlets'] || { list: [] }
      return list || []
    }
  },
  async mounted() {
    this.getOutletLogisticsAddressList()
    this.$nextTick(() => {
      this.reset()
    })
  },
  methods: {
    async citySelect(val) {
      this.form.outletId = null
      !!val && (await this.getOutletLogisticsList(val))
    },
    async getOutletLogisticsAddressList() {
      try {
        await this.$store.dispatch('outlet/getOutletAddressList')
      } catch (error) {
      } finally {
        this.addrLoad = false
      }
    },
    async getOutletLogisticsList(cityId) {
      this.outletLogisticsListLoad = true
      try {
        await this.$store.dispatch('outlet/getOutletList', { cityId })
      } catch (error) {
      } finally {
        this.outletLogisticsListLoad = false
      }
    },
    areaSelect(type, [val, idx, next, vals]) {
      this.form[`${type}ProvinceId`] = null
      this.form[`${type}ProvinceName`] = null
      this.form[`${type}CityId`] = null
      this.form[`${type}CityName`] = null
      this.form[`${type}AreaId`] = null
      this.form[`${type}AreaName`] = null
      vals.forEach(({ id, name }, idx) => {
        if (idx === 0) {
          this.form[`${type}ProvinceId`] = id
          this.form[`${type}ProvinceName`] = name
        }
        if (idx === 1) {
          this.form[`${type}CityId`] = id
          this.form[`${type}CityName`] = name
        }
        if (idx === 2) {
          this.form[`${type}AreaId`] = id
          this.form[`${type}AreaName`] = name
        }
      })
    },
    async submit() {
      if (!this.$refs.form.validate()) return
      if (this.loading) return
      this.loading = true
      try {
        await this.$store.dispatch('order/postPlatformOrderCustomer', {
          ...this.form,
          ...this.$refs.cargoInfo.form
        })
        this.$message.success('下单成功！')
        this.reset()
        this.$refs.cargoInfo.form = this.$resetFields(this.$refs.cargoInfo.form)
        if (this.userType < 2) {
          this.$router.push('/my/customer-order')
        } else {
          this.$router.push('/my/logistics-outlet-order')
        }
      } catch (error) {
        this.$message.error('下单失败！')
      } finally {
        this.loading = false
      }
    },
    reset() {
      this.$refs.form.reset()
      this.$nextTick(() => {
        this.form = this.$resetFields(this.form)
        this.$refs.cargoInfo.form = this.$resetFields(this.$refs.cargoInfo.form)
        this.form.collectWay = 0
        this.$refs.cargoInfo.form.tariffPaySide = 0
        this.$refs.cargoInfo.form.isDeliveryAgencyFund = 1
      })
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '~assets/style/variable.styl'
.customer-place-order
  &__form
    width 1000px
    margin auto
  .form-container
    padding 50px 25px 0 !important
    .logistics-numdesc
      color medium-grey-color
      font-size 12px
  .hanler-wrap
    text-align: center
    padding 18px 0 50px
    .v-btn
      width 200px
      height 44px
</style>
