<template>
  <div class="view-content">
    <div
      :style="{ backgroundImage:`url(${source})`}"
      class="view-content__container">
      <div style="min-height: 340px;">
        <slot/>
      </div>
      <no-ssr>
        <foote v-if="!hideFoote"/>
      </no-ssr>
    </div>
  </div>
</template>

<script>
import Foote from './Foote'
export default {
  components: {
    Foote
  },
  props: {
    hideFoote: {
      type: Boolean,
      default: false
    },
    source: {
      type: String,
      default: require('~/assets/image/home_serch_banner.svg')
    }
  }
}
</script>

<style lang="stylus">
  @require '~assets/style/variable.styl'
  .view-content
    width 100%
    margin-top -2px
    &__container
      min-width 1250px
      width 100%
      background-repeat no-repeat
      // background-size 100%
</style>
