<template>
  <div class="platform-business">
    <h2>平台业务</h2>
    <ul class="page-container business-tab__list">
      <li
        v-for="(tab,i) in tabs"
        :class="{'active':active==i}"
        :key="i"
        @click="businessTabHandle(i)">
        <!-- <i :class="`iconfont icon-${tab.icon}`"/> -->
        <img :src="tab.iconImg">
        <p>{{ tab.content }}</p>
      </li>
    </ul>
    <div class="business-tab__content">
      <v-carousel
        v-model="active"
        hide-delimiters
        hide-controls
        height="300"
        lazy>
        <v-carousel-item
          v-for="(tab,ids) in tabs"
          :key="ids"
          reverse-transition="fade-transition"
          transition="fade-transition">
          <div class="page-container carousel-content">
            <v-layout row>
              <v-flex xs7>
                <supplier v-if="tab.label=='supplier'" />
                <carousel-content
                  v-if="tab.label!='supplier'&&tab.desc"
                  :source="tab.desc" />
              </v-flex>
              <v-flex>
                <div
                  class="carousel-content__right"
                  style="height:300px">
                  <!-- <img
                    v-if="tab.img"
                    :src="tab.img"> -->
                </div>
              </v-flex>
            </v-layout>
          </div>
        </v-carousel-item>
      </v-carousel>
    </div>
  </div>
</template>

<script>
import Supplier from './carousel/Supplier'
import CarouselContent from './carousel/CarouselContent'
export default {
  components: {
    CarouselContent,
    Supplier
  },
  data() {
    return {
      tabs: [
        {
          content: '物流查询',
          icon: 'serch',
          iconImg: require('~/assets/image/icon_1.1.png'),
          label: 'logistics',
          img: require('~/assets/image/home_image_logistics.png'),
          desc: [
            {
              tit: '自定义查询物流方案',
              content: [
                '根据用户自身货物特点，结合指定的目的地国家，为您推荐智能计算后最佳物流方案'
              ]
            },
            {
              tit: '系统实时智能跟踪',
              content: ['全平台货物位置一览无遗，货物派送完成后智能通知']
            },
            {
              content: [
                '平台亦支持多个单号同时查询、批量下载、打单、付款和自动获取转单号等功能'
              ]
            }
          ]
        },
        {
          content: '网点服务',
          icon: 'send',
          iconImg: require('~/assets/image/icon_1.2.png'),
          label: 'examine',
          img: require('~/assets/image/home_image_examine.png'),
          desc: [
            {
              tit: '精准推荐高性价比物流方案',
              content: [
                '聚合上几万条国际物流路线，根据用户收获地、货物基本信息和时效等需求精准推荐'
              ]
            },
            {
              tit: '多方案、多对比、高时效',
              content: [
                '根据出发地、目的地、货物信息查询路线，推荐最佳方案。依照价格排序，对比各方面实效性'
              ]
            }
          ]
        },
        {
          content: '物流商入驻',
          icon: 'Cooperation',
          iconImg: require('~/assets/image/icon_1.3.png'),
          label: 'supplier',
          img: require('~/assets/image/home_image_supplier.png')
        },
        {
          content: '物流保险',
          icon: 'Insurance',
          iconImg: require('~/assets/image/icon_1.4.png'),
          label: 'insurance',
          img: require('~/assets/image/home_image_insurance.png'),
          desc: [
            {
              tit: '与第三方保险公司合作',
              content: [
                '如货物在物流过程中丢失、损坏等，企业主可以在第一时间得到保险理赔',
                '为货主提供全面的物流金融和保险服务',
                '货物安全有充分的保障，无传统保险相互推诿、理赔效率地下等问题'
              ]
            }
          ]
        }
      ],
      active: 3
    }
  },
  mounted() {
    this.active = 0
  },
  methods: {
    businessTabHandle(index) {
      this.active = index
    }
  }
}
</script>

<style lang="stylus">
  @import './style/platform-business.styl'
</style>
