@require '../variable.styl'
.forget
  &-bar
    color: #fff !important
    font-size: 18px
  &-content
    margin-top: 40px
    &__step
      min-width: 650px
      margin: auto
      padding: 50px 20px
      .v-stepper
        box-shadow none
        border: solid 1px border-color
        &__header
          box-shadow none
          border-bottom: solid 1px border-color
        .finish-desc
          color: medium-grey-color
          text-align: center
          font-size: 14px
          padding: 90px 0
