@require '../variable.styl'
.register
  .h-tabs__bar
    width 660px
    height 60px
    margin:0 auto 16px
    border-bottom: solid 3px light-border-color
    &>>>.register-tab
      width 50%
      height 100%
      margin: 0
      color medium-grey-color
      &.is-active
        color: green-color
  &-bar
    color: #fff !important
    span
      font-size: 12px
    span&__title
      font-size: 18px
    .link
      color: green-color
      font-weight: normal
      cursor pointer
  &-content
    margin-top: 40px
    &__form
      padding 10px 16px
      &>>>.form
        width 660px
        padding-bottom: 10px
        margin: auto
        font-size: 14px
        // border: solid 1px light-border-color
        h4
          height 44px
          line-height: 44px
          padding: 0 20px
          margin-bottom: 20px
          // border-bottom: solid 1px light-border-color
        .v-text-field
          width 360px
          margin:10px auto 0 !important
        .area-field
          // display: block
          width 360px
          margin: auto
        &.account-info-form
          border-bottom: none
      .hanler-wrap
        text-align: center
        .v-btn
          width 320px
          margin 32px auto 16px
        p
          font-size: 12px
          line-height: 1
          margin-bottom: 48px
          b
            color: green-color
            font-weight: normal
            cursor pointer


