<template>
  <div class="form enterprise-info-form">
    <h4>企业信息</h4>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation>
      <v-text-field
        v-model="form.companyName"
        :rules="rules.companyName"
        label="公司名"
        class="required"/>
      <v-text-field
        v-model="form.contact"
        :rules="rules.contact"
        label="联系人"
        class="required"/>
      <v-text-field
        v-model="form.contactNumber"
        :rules="rules.contactNumber"
        label="联系方式"
        class="required"/>
      <area-select
        v-model="form.regionCodes"
        :rules="rules.regionCodes"
        label="所在地"
        placement="top"
        required
        @select="areaSelect"/>
      <v-text-field
        v-model="form.fullAddress"
        :rules="rules.fullAddress"
        label="详细地址"
        class="required"/>
      <upload-photo
        ref="businessLicense"
        v-model="businessLicense"
        :rules="rules.businessLicense"
        label="营业执照"
        required
        @upload-end="uploadEnd"/>
    </v-form>
  </div>
</template>
<script>
import AreaSelect from '~/components/AreaSelect'
import UploadPhoto from '~/components/UploadPhoto'
import Message from '~/components/Message'
export default {
  components: {
    AreaSelect,
    UploadPhoto
  },
  data() {
    return {
      valid: true,
      businessLicense: null,
      form: {
        companyName: '',
        contact: '',
        contactNumber: '',
        regionCodes: [],
        fullAddress: '',
        businessLicense: null,
        provinceId: null,
        cityId: null,
        areaId: null,
        provinceName: '',
        cityName: '',
        areaName: ''
      },
      rules: {
        companyName: [v => !!v || '请输入公司名'],
        contact: [v => !!v || '请输入联系人'],
        contactNumber: [v => !!v || '请输入联系方式'],
        regionCodes: [
          v => {
            if (!v) return '请选择所在地'
            if (!this.form.cityId) return '请选择所在市'
            return true
          }
        ],
        fullAddress: [v => !!v || '请输入详细地址'],
        businessLicense: [v => !!v || '请上传营业执照']
      }
    }
  },
  methods: {
    uploadEnd(file) {
      this.form.businessLicense = file.filename
    },
    areaSelect({ id, name }, idx) {
      if (idx === 0) {
        this.form.provinceId = id
        this.form.provinceName = name
        this.form.cityId = null
        this.form.cityName = null
        this.form.areaId = null
        this.form.areaName = null
      } else if (idx === 1) {
        this.form.cityId = id
        this.form.cityName = name
        this.form.areaId = null
        this.form.areaName = null
      } else {
        this.form.areaId = id
        this.form.areaName = name
      }
    },
    validate() {
      let uploadLoading = this.$refs.businessLicense.isUploading
      if (uploadLoading) Message.warning('请等待上传结束!')
      let isUploadSuccess = this.$refs.businessLicense.isUploadSuccess
      return this.$refs.form.validate() && !uploadLoading && isUploadSuccess
    },
    reset() {
      this.$refs.form.reset()
      this.form = this.$resetFields(this.form)
    }
  }
}
</script>
