<template>
  <div class="form logistics-info-form">
    <!-- <h4>物流商信息</h4> -->
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation>
      <v-text-field
        v-model="form.companyName"
        :rules="rules.companyName"
        label="公司名"
        class="required"/>
      <v-text-field
        v-model="form.contact"
        :rules="rules.contact"
        label="联系人"
        class="required"/>
      <v-text-field
        v-model="form.contactNumber"
        :rules="rules.contactNumber"
        label="联系方式"
        class="required"/>
      <area-select
        v-model="regionCodes"
        :rules="rules.regionCodes"
        :close-on-click="false"
        class="area-field"
        label="所在地"
        required
        @select="areaSelect"/>
      <v-text-field
        v-model="form.fullAddress"
        :rules="rules.fullAddress"
        label="详细地址"
        class="required"/>
      <upload-photo
        ref="businessLicense"
        v-model="form.businessLicense"
        :rules="rules.businessLicense"
        label="营业执照"
        required
        @upload-end="businessLicenseUploadEnd"/>
      <upload-photo
        ref="roadTransportPermit"
        v-model="form.roadTransportPermit"
        :rules="rules.roadTransportPermit"
        label="道路运输许可证"
        required
        @upload-end="transportPermitUploadEnd"/>
    </v-form>
  </div>
</template>
<script>
import AreaSelect from '~/components/AreaSelect/select'
import UploadPhoto from '~/components/UploadPhoto'
import Message from '~/components/Message'

export default {
  components: {
    AreaSelect,
    UploadPhoto
  },
  data() {
    return {
      valid: true,
      regionCodes: [],
      form: {
        companyName: '',
        contact: '',
        contactNumber: '',
        fullAddress: '',
        businessLicense: null,
        roadTransportPermit: null,
        provinceId: null,
        cityId: null,
        areaId: null,
        provinceName: '',
        cityName: '',
        areaName: ''
      },
      rules: {
        companyName: [v => !!v || '请输入公司名'],
        contact: [v => !!v || '请输入联系人'],
        contactNumber: [v => !!v || '请输入联系方式'],
        regionCodes: [
          v => !!v || '请选择所在地',
          v => !this.areaMenu || '请选择完整地址'
        ],
        fullAddress: [v => !!v || '请输入详细地址'],
        businessLicense: [v => !!v || '请上传营业执照'],
        roadTransportPermit: [v => !!v || '请上传道路运输许可证']
      },
      areaMenu: false
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.form.reset()
    })
  },
  methods: {
    businessLicenseUploadEnd(file) {
      this.form.businessLicense = file.filename
    },
    transportPermitUploadEnd(file) {
      this.form.roadTransportPermit = file.filename
    },
    areaSelect(val, idx, next, vals) {
      if (!val) return
      this.$refs.area && (this.areaMenu = this.$refs.area.menu)
      this.form.provinceId = null
      this.form.provinceName = null
      this.form.cityId = null
      this.form.cityName = null
      this.form.areaId = null
      this.form.areaName = null
      vals.forEach(({ id, name }, idx) => {
        if (idx === 0) {
          this.form.provinceId = id
          this.form.provinceName = name
        }
        if (idx === 1) {
          this.form.cityId = id
          this.form.cityName = name
        }
        if (idx === 2) {
          this.form.areaId = id
          this.form.areaName = name
        }
      })
    },
    validate() {
      let uploadLoading =
        this.$refs.businessLicense.isUploading ||
        this.$refs.roadTransportPermit.isUploading
      if (uploadLoading) Message.warning('请等待上传结束!')
      let isUploadSuccess =
        this.$refs.businessLicense.isUploadSuccess ||
        this.$refs.roadTransportPermit.isUploadSuccess
      return this.$refs.form.validate() && !uploadLoading && isUploadSuccess
    },
    reset() {
      this.form = this.$resetFields(this.form)
      this.$refs.area.reset()
      this.$refs.form.reset()
    }
  }
}
</script>
