<template>
  <div class="form personal-info-form">
    <h4>个人信息</h4>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation>
      <v-text-field
        v-model="form.contact"
        :rules="rules.contact"
        label="联系人"
        class="required"/>
      <v-text-field
        v-model="form.contactNumber"
        :rules="rules.contactNumber"
        label="联系方式"
        class="required"/>
    </v-form>
  </div>
</template>
<script>
export default {
  data() {
    return {
      valid: true,
      form: {
        contact: '',
        contactNumber: ''
      },
      rules: {
        contact: [v => !!v || '请输入联系人'],
        contactNumber: [v => !!v || '请输入联系方式']
      }
    }
  },
  methods: {
    validate() {
      return this.$refs.form.validate()
    },
    reset() {
      this.$refs.form.reset()
      this.form = this.$resetFields(this.form)
    }
  }
}
</script>
