<template>
  <v-layout
    row
    justify-center>
    <v-dialog
      v-model="visible"
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition">
      <v-card>
        <v-toolbar
          dark
          color="primary">
          <v-toolbar-title>{{ typeList[type] }}</v-toolbar-title>
          <v-spacer/>
          <v-toolbar-items>
            <v-btn
              dark
              icon
              @click.native="visible = false"><v-icon>close</v-icon></v-btn>
          </v-toolbar-items>
        </v-toolbar>
      </v-card>
    </v-dialog>
  </v-layout>
</template>
<script>
export default {
  data() {
    return {
      visible: false,
      typeList: ['用户协议', '隐私政策'],
      type: 0
    }
  },
  methods: {
    show() {
      this.visible = true
    }
  }
}
</script>
