@require 'variable.styl'
@require 'functions.styl'
html
  overflow auto
  height 100%
  // font-size: 20px;
  background-color #fff
  user-select none
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
body,#app,#__nuxt,#__layout
  height 100%
.application--wrap
  max-width none !important
  max-height none !important
*
  box-sizing border-box
  outline-width 0

.icon
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden


// 滚动条
::-webkit-scrollbar
  width 8px
  height 8px


::-webkit-scrollbar-button
  display: none


::-webkit-scrollbar-track
  background-color #fff


::-webkit-scrollbar-track-piece
  background-color #F5F5F5


::-webkit-scrollbar-thumb
  border-radius 10px
  background-color #d0d0d0
  margin-right 10px


::-webkit-scrollbar-thumb:hover
  background-color #aaa


::-webkit-scrollbar-corner
  background-color #ccc


::-webkit-scrollbar-resizer
  background-color #FF6E00

input,
button,
select,
textarea
  outline none
  caret-color green-color
  -webkit-appearance none
  &::-webkit-input-placeholder
    /* WebKit, Blink, Edge */
    color light-grey-color
    font-size 14px

  &:-moz-placeholder
    /* Mozilla Firefox 4 to 18 */
    color light-grey-color
    font-size 14px

  &::-moz-placeholder
    /* Mozilla Firefox 19+ */
    color light-grey-color
    font-size 14px

  &:-ms-input-placeholder
    /* Internet Explorer 10-11 */
    color light-grey-color
    font-size 14px

textarea
  resize none // border: solid 1px border
  border-radius 8px

input
  -webkit-appearance none
  caret-color green-color
  &:-webkit-autofill
    box-shadow: 0 0 0px 1000px white inset


.v-text-field
  padding 2px 10px 0
  margin-top 4px !important
  &.required
    position relative
    &::before
      content '*'
      color error-color
      font-size 12px
      position absolute
      bottom 24px
      left 0px
  .v-select__selection
    font-size: 14px
  .v-input__icon .v-icon
    font-size 18px !important
    color light-grey-color
  .v-input__slot
    .v-label
      font-size 14px !important
      color light-grey-color

    &:before
      border-color border-color  !important // border-width: 1px !important
    input
      font-size 14px
      text-overflow ellipsis
      &[type="file"]
        clip: rect(0 0 0 0);


  &.v-input--is-disabled
    .v-label
      color light-grey-color !important
    input
      color light-grey-color !important

.v-select-list
  .v-list__tile
    height 44px
    &__title
      font-size: 14px
.v-input--radio-group--row
  .radio-label
    padding-left: 10px
    font-size: 14px
    &.required
      position relative
      &::before
        content '*'
        color error-color
        font-size 12px
        position absolute
        left 0px
        top: 54%
        transform: translateY(-50%)
.v-radio
  margin-right 10px
  .v-label
    font-size 14px
    color font-default-color
  .v-input--selection-controls
    &__input
      height 20px
      width 20px

    &__ripple
      height 40px
      width 40px
      left -10px
      top calc(50% - 20px)
      margin 0
      .v-ripple__container
        transform: scale(.8)
  .v-icon
    font-size 20px
    color: light-grey-color !important
    &.primary--text
      color: green-color !important
.v-input--checkbox
  .v-icon
    color: light-grey-color !important
    &.primary--text
      color: green-color !important
.form-container
  max-width none !important
  padding 18px 0 !important
  // transition: collapse-transition
  .layout
    padding 0 22px
    // transition: collapse-transition
    .flex
      padding:0 4px

.container-fluid
  margin-right auto
  margin-left auto
  padding-left 15px
  padding-right 15px

.page-container
  margin-right auto
  margin-left auto
  min-width 1170px
  box-sizing content-box


@media (min-width: 768px)
  .page-container
    width 750px

@media (min-width: 992px)
  .page-container
    width 970px



@media (min-width: 1200px)
  .page-container
    width 1200px

.clear::after
  clear both
  content '.'
  display block
  width 0
  height 0
  visibility hidden
  /*==for FF/chrome/opera/IE8==*/
.loading-mask
  background-color: transparent !important
  .loading-spinner .path
    stroke: green-color

.theme--dark.v-toolbar
  background-color: #000 !important

.v-toolbar--fixed
  z-index 200 !important

.v-pagination
  & &__navigation
    width 24px
    height 24px
    .v-icon
      font-size: 24px
  & &__item
    min-width 24px !important
    height 24px
.table-border
  border: solid 1px light-border-color
  // border-top-color: transparent
  table.v-table
    thead
      height 40px !important
      tr:first-child
        border-bottom-color: light-bg-color !important
      tr:not(.v-datatable__progress)
        height 40px !important
        background: light-bg-color
        border-bottom-color: light-bg-color
        th
          padding: 0 20px !important
          font-size: 12px
          color: medium-grey-color
          font-weight normal
    tbody
      tr:not(:last-child)
        border-bottom-color light-border-color !important
      td
        padding: 0 20px !important
        color: font-default-color
        font-size: 14px
        &.handle-cell
          padding: 0 !important
          .v-btn--flat:not(.v-btn--icon)
            min-width 0
            padding: 0 8px
  .v-datatable__actions
    border-top-color light-border-color !important
    color: medium-grey-color !important

.display-flex
  display: flex


.v-dialog
  .v-card__title
    position relative
    font-size 16px
    justify-content: center
    .v-btn
      position absolute
      right 32px
.theme--light.v-btn.v-btn--disabled[disabled="disabled"]
      color: light-grey-color !important
