<template>
  <el-amap
    v-loading="loading"
    ref="map"
    :style="mapStyle"
    :zoom="zoom"
    :center="center"
    :events="amapEvents"
    :amap-manager="amapManager"
    :plugin="amapPlugin"
    class="amap-box"
    vid="amap">
    <el-amap-marker
      v-for="(marker, idx) in markers"
      :key="idx"
      :position="marker.position"
      :offset="marker.offset"
      :events="marker.events"
      :z-index="150+idx"
      :content-render="marker.contentRender"
      :vid="idx" />
    <el-amap-info-window
      :position="currentWindow.position"
      :visible="currentWindow.visible"
      :content-render="currentWindow.contentRender"
      :offset="[0, -24]" />
  </el-amap>
</template>

<script>
import { AMapManager } from 'vue-amap'
import { tdist } from '~/utils/address.js'
const amapManager = new AMapManager()
export default {
  name: 'Amap',
  props: {
    width: {
      type: String,
      default: '100%'
    },
    height: {
      type: String,
      default: '100%'
    }
  },
  data() {
    return {
      amapManager,
      icon: require('~/assets/image/location.png'),
      amapPlugin: [
        // 地图工具条插件，可以用来控制地图的缩放和平移
        { pName: 'ToolBar' },
        // 定位插件，整合了浏览器定位、精确IP定位、sdk辅助定位多种手段
        {
          pName: 'Geolocation',
          buttonPosition: 'RB',
          zoomToAccuracy: false,
          events: {
            init: o => {
              this.loading = false
              // 获取用户当前的精确位置信息
              o.getCurrentPosition((status, result) => {
                if (result && result.position) {
                  // const { province } = result.addressComponent || {}
                  // const { lat, lng } = result.position
                  // this.center = [lng, lat]
                }
              })
            }
          }
        }
      ],
      center: [0, 0],
      markers: [],
      zoom: 7,
      currentWindow: {
        position: [0, 0],
        contentRender: () => <div />,
        events: {},
        visible: false
      },
      currentCity: {},
      amapEvents: {
        init: map => {
          this.loading = false
        },
        zoomchange: () => {
          this.zoom = this.amapManager._map.getZoom()
        }
      },
      loading: false
    }
  },
  computed: {
    mapStyle() {
      return {
        width: this.width,
        height: this.height
      }
    }
  },
  watch: {
    center(n, o) {
      if (n[0] === 0 || n[1] === 0) return
      if (n[0] != o[0] || n[1] != o[1]) this.$emit('center-change', n)
    }
  },
  created() {
    // this.loading = true
  },
  methods: {
    initMap() {
      this.currentWindow.visible = false
      this.zoom = 7
      this.center = [0, 0]
    },
    setCenter(center = [0, 0]) {
      this.center = center
    },
    showMapWindow(item) {
      let position = [item.longitude * 1, item.latitude * 1]
      this.currentWindow.visible = false
      this.$nextTick(() => {
        this.zoom = 14
        this.center = position
        this.currentWindow.position = position
        this.currentWindow.contentRender = () => this.windowContentRender(item)
        this.currentWindow.visible = true
      })
    },
    windowContentRender(item) {
      return (
        <div class="amap-window-info">
          <strong>{item.outletName}</strong>
          <table>
            <tbody>
              <tr>
                <td>联系人：</td>
                <td>{item.contact || '-'}</td>
              </tr>
              <tr>
                <td>联系人电话：</td>
                <td>{item.phone || '-'}</td>
              </tr>
              <tr>
                <td>网点电话：</td>
                <td>{item.contactNumber || '-'}</td>
              </tr>
              <tr>
                <td>地址：</td>
                <td>{item.address || '-'}</td>
              </tr>
            </tbody>
          </table>
        </div>
      )
    },
    setMark(list = []) {
      let markers = []
      list.forEach((item, idx) => {
        let position = [item.longitude * 1, item.latitude * 1]
        markers.push({
          ...item,
          position,
          offset: [-16, -32],
          events: {
            click: e => this.showMapWindow(item)
          },
          contentRender: () => (
            <div class="marker">
              <img src={this.icon} />
              <span>{idx + 1}</span>
            </div>
          )
        })
      })
      this.markers = markers
    }
  }
}
</script>
<style lang="stylus" scoped>
@import '~assets/style/variable.styl'
.amap-box
  .marker
    position relative
    color #fff
    height 32px
    font-size 12px
    span
      position absolute
      left 16px
      top 12px
      z-index 10
      transform translate(-50%,-50%)
  .amap-window-info
    width 250px
    strong
      border-bottom solid 1px light-border-color
      display block
      font-size 16px
      font-weight 400
      padding 10px 0
      margin-bottom 10px
      user-select text
    table
      font-size 12px
      td:first-child
        width 75px
        text-align right
        vertical-align top
      td:last-child
        word-break break-all
        color medium-grey-color
        user-select text
  &>>>.amap-geolocation-con
      z-index 200 !important
  &>>>.amap-info-close:hover
    color green-color
</style>
