@require '~assets/style/variable.styl'
.body
  height 100%
  width 100%
  &-bar
    color: #fff
    .v-btn
      font-weight: normal
    &.theme--light
      color: medium-grey-color
      border-bottom:solid 1px border-color
      .v-btn
        color: medium-grey-color

  &-container
    padding-top 70px
    min-height: 100%
    min-width: 100%
    background-color bg-color
    &.is-tab
      padding-top: 140px

