<template>
  <v-layout
    wrap
    row
    class="cargo-info-form">
    <v-flex xs12>
      <h3 class="pt-3">货物信息</h3>
    </v-flex>
    <v-flex xs9>
      <v-text-field
        v-model="form.tradeName"
        :rules="[v => !!v || '请输入品名，多个品名时用“、”']"
        hint="多个品名时用“、”"
        label="品名"
        class="required"/>
    </v-flex>
    <v-flex xs3>
      <date-picker
        v-model="form.deliveryDate"
        label="交货日期"/>
    </v-flex>
    <v-flex xs3>
      <v-text-field
        v-model="form.goodsQuantity"
        :rules="[v => !!v || '请输入箱数/个']"
        label="箱数/个"
        class="required"
        mask="#########"/>
    </v-flex>
    <v-flex xs3>
      <v-text-field
        v-model="form.goodsInsideQuantity"
        :rules="[v => !!v || '请输入内物数/件']"
        label="内物数/件"
        class="required"
        mask="#########"/>
    </v-flex>
    <v-flex xs3>
      <v-text-field
        v-model="form.goodsMoney"
        :rules="rules.goodsMoney"
        label="货值/元"/>
    </v-flex>
    <v-flex xs3>
      <v-text-field
        v-model="form.goodsWeight"
        :rules="rules.goodsWeight"
        label="实重/kg"/>
    </v-flex>
    <v-flex xs3>
      <v-text-field
        v-model="form.goodsLength"
        :rules="rules.goodsLength"
        label="长/cm"/>
    </v-flex>
    <v-flex xs3>
      <v-text-field
        v-model="form.goodsWidth"
        :rules="rules.goodsWidth"
        label="宽/cm"/>
    </v-flex>
    <v-flex xs3>
      <v-text-field
        v-model="form.goodsHeight"
        :rules="rules.goodsHeight"
        label="高/cm"/>
    </v-flex>
    <v-flex xs3>
      <v-text-field
        v-model="form.goodsVolume"
        :rules="rules.goodsVolume"
        label="体积/cm³"/>
    </v-flex>
    <v-flex xs9/>
    <v-flex xs6>
      <v-radio-group
        v-model="form.tariffPaySide"
        row>
        <label class="radio-label required">关税付款方：</label>
        <v-radio
          v-for="item in tariffPaymentList"
          :key="item.value"
          :value="item.value"
          :label="item.label"
          color="primary"/>
      </v-radio-group>
    </v-flex>
    <v-flex xs6>
      <div style="display:inline-block">
        <v-radio-group
          v-model="form.isDeliveryAgencyFund"
          row
          @change="deliveryAgencyFundChange">
          <label
            class="radio-label required">配送公司代收款：</label>
          <v-radio
            :value="1"
            label="是"
            color="primary"
            style="margin-right:8px;"/>
          <v-radio
            :value="0"
            label="否"
            color="primary"/>
        </v-radio-group>
      </div>
      <div
        v-if="form.isDeliveryAgencyFund==1"
        style="display:inline-block">
        <v-text-field
          v-model="form.deliveryAgencyFundCost"
          :rules="rules.deliveryAgencyFundCost"
          label="代收金额/元"
          class="collecting-input required"/>
      </div>
    </v-flex>
  </v-layout>
</template>
<script>
import DatePicker from '~/components/DatePicker'
import { floatValid } from '~/utils/validate.js'
import { tariffPaymentList } from '~/assets/data.json'

export default {
  components: {
    DatePicker
  },
  data() {
    return {
      tariffPaymentList,
      form: {
        tradeName: null,
        deliveryDate: null,
        goodsMoney: null,
        goodsWeight: null,
        goodsLength: null,
        goodsWidth: null,
        goodsHeight: null,
        goodsVolume: null,
        tariffPaySide: 0,
        isDeliveryAgencyFund: 1,
        deliveryAgencyFundCost: null
      },
      rules: {
        goodsMoney: [v => floatValid(v, '货值')],
        goodsWeight: [v => floatValid(v, '实重', { num: 3, desc: '三' })],
        goodsLength: [v => floatValid(v, '货长')],
        goodsWidth: [v => floatValid(v, '货宽')],
        goodsHeight: [v => floatValid(v, '货高')],
        goodsVolume: [v => floatValid(v, '体积', { num: 3, desc: '三' })],
        deliveryAgencyFundCost: [
          v => floatValid(v, '代收金额', { noNull: true })
        ]
      }
    }
  },
  methods: {
    deliveryAgencyFundChange(val) {
      val === 1 && (this.form.deliveryAgencyFundCost = null)
    }
  }
}
</script>
<style lang="stylus" scoped>
.cargo-info-form
  .v-radio
    margin-right 10px
    &:last-child
      // margin-right 0
  .collecting-input
    >>>.v-input__control
      width 200px
</style>
