<template>
  <div
    class="commodity-info__item">
    <label>{{ label }}：</label>
    <v-btn
      v-if="edit&&!isShow"
      flat
      icon
      small
      color="medium-grey-color"
      class="show-edit-btn"
      @click="show">
      <v-icon small>edit</v-icon>
    </v-btn>
    <p>{{ value | isEmpty }}{{ unit }}</p>
    <v-dialog
      v-model="isShow"
      persistent
      max-width="400px">
      <v-card v-loading="loading">
        <v-card-title
          class="justify-center"
          style="font-size:16px;">
          {{ label }}
        </v-card-title>
        <v-form
          ref="form"
          v-model="valid"
          class="px-4">
          <v-text-field
            :value="value"
            :label="label"
            v-model="input"
            :rules="[v => {
              if (!v) return true
              return /[a-zA-Z0-9]$/g.test(v) || `${label}格式错误`
          }]"/>
        </v-form>
        <v-card-actions class="px-4 pb-4">
          <v-spacer/>
          <v-btn
            depressed
            @click.native="clear">取消</v-btn>
          <v-btn
            :loading="loading"
            depressed
            color="primary"
            @click.native="submit">提交</v-btn>
          &nbsp;&nbsp;
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      default: ''
    },
    updateid: {
      type: [String, Number],
      default: ''
    },
    updatekey: {
      type: String,
      default: ''
    },
    value: {
      type: [String, Number],
      default: ''
    },
    unit: {
      type: String,
      default: ''
    },
    edit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      valid: false,
      isShow: false,
      input: null,
      loading: false
    }
  },
  methods: {
    show() {
      this.isShow = true
      this.input = this.value
    },
    async submit() {
      if (!this.$refs.form.validate()) return
      if (this.loading) return
      this.loading = true
      try {
        let params = { id: this.updateid }
        params[this.updatekey] = this.input
        await this.$store.dispatch('order/putPlatformOrder', params)
        this.$emit('submit', this.updateid)
        this.$message.success('更新成功！')
        this.clear()
      } catch (error) {
        this.$message.error('更新失败！')
      } finally {
        this.loading = false
      }
    },
    clear() {
      this.isShow = false
      this.input = null
      this.$refs.form.reset()
    }
  }
}
</script>

<style lang="stylus" scoped>
@require '~assets/style/variable.styl'
div.commodity-info__item
  border-bottom solid 1px border-color
  position relative
  display flex
  width 50%
  padding 10px 20px
  &:nth-child(odd)
    border-right solid 1px border-color
  .show-edit-btn
    position absolute
    right 0px
    top 0
  label
    color medium-grey-color
    display block
  p
    flex 1
    margin 0
    word-break break-all
    user-select text
</style>
