@require '~assets/style/variable.styl'
@require '~assets/style/functions.styl'

.platform-advantage
  h2
    text-align center
    font-size 28px
    font-weight 500
    padding sizes(5) 0
    line-height 1
  &__list
    padding 0 0 sizes(5)
    width sizes(120)
    margin auto
    display flex
    align-items center
    justify-content center
    flex-direction row
    flex-wrap wrap
    list-style none
    li
      width calc(100% / 3 - 20px)
      height sizes(17)
      margin sizes()
      // border solid 1px border-color
      display flex
      flex-direction column
      align-items center
      justify-content center
      padding sizes()
      .icon
        font-size sizes(5)
      img
        height 50px
      h4
        margin-top 18px
        font-size 16px
        color font-default-color
      p
        margin 0
        margin-top 8px
        font-size 12px
        color medium-grey-color
