<template>
  <view-bg>
    <div class="checkprice-shipping">
      <div style="padding-top: 0px;">
        <ul class="tabs">
          <li
            v-for="item in tablist"
            :key="item.type"
            :class="{'is-active':item.type == type}"
            class="tab">
            <v-btn
              flat
              dark
              @click="skipPage(item)">{{ item.label }}</v-btn>
          </li>
        </ul>
      </div>
      <div>
        <div class="page-container">
          <inquire-form :type="type"/>
        </div>
      </div>
    </div>
  </view-bg>
</template>

<script>
import InquireForm from '~/components/page/CheckpriceShipping/InquireForm'

export default {
  head: {
    title: '查价寄件'
  },
  components: {
    InquireForm
  },
  layout: 'base',
  data() {
    return {
      tablist: [
        {
          label: '商务快递',
          type: 'business'
        },
        {
          label: '电商小包',
          type: 'packet'
        },
        {
          label: 'FAB',
          type: 'FAB'
        }
      ],
      type: 'business'
    }
  },
  watch: {
    $route() {
      this.getRouteParams()
    }
  },
  mounted() {
    this.getRouteParams()
  },
  methods: {
    skipPage({ type }) {
      this.$router.push({
        path: `/CheckpriceShipping`,
        query: {
          type
        }
      })
    },
    getRouteParams() {
      const { type } = this.$route.query
      this.type = type || 'business'
    }
  }
}
</script>

<style lang="stylus">
@import '~assets/style/page/checkprice-shipping.styl'
</style>
