<template>
  <div class="register">
    <div class="page-container">
      <v-container class="py-0">
        <v-card class="register-content">
          <v-toolbar
            height="58"
            color="light-barcolor"
            class="register-bar">
            <!-- <img src="~/assets/image/logo.svg" alt="logo"> -->
            <span class="register-bar__title">注册账号</span>
            <v-spacer/>
            <span>已有账户？<b
              class="link"
              @click="showLogin">立即登录</b></span>
          </v-toolbar>
          <v-card-text
            v-loading="loading"
            class="register-content__form">
            <tabs-bar
              v-model="tabActive"
              :list="tablist"
              :slider-style="{
                height:'3px',
                bottom:'-3px'
              }"
              direction="center"
              tab-class="register-tab"
              @active="tabsHandler"/>
            <account-info-form
              ref="accountInfoForm"
              :type="tabActive"
              :key="tabActive"/>
            <logistics-info-form
              v-if="tabActive===1"
              ref="logisticsInfoForm"/>
            <div class="hanler-wrap">
              <v-btn
                large
                color="primary"
                depressed
                @click="submit">&#x3000;&#x3000;注 册&#x3000;&#x3000;</v-btn>
              <p>注册账号即表示您同意并愿意遵守海速跨境
                <b @click="showProtocol(0)">用户协议</b>
                和 <b @click="showProtocol(1)">隐私政策</b></p>
            </div>
          </v-card-text>
        </v-card>
      </v-container>
    </div>
    <foote/>
    <login-dialog ref="loginDialog"/>
    <protocol-dialog ref="protocolDialog"/>
  </div>
</template>

<script>
import TabsBar from '~/components/TabsBar'
import { LoginDialog } from '../components/BaseLayout'
import Foote from '~/components/Foote'
import AccountInfoForm from '~/components/page/Register/AccountInfoForm'
import PersonalInfoForm from '~/components/page/Register/PersonalInfoForm'
import EnterpriseInfoForm from '~/components/page/Register/EnterpriseInfoForm'
import LogisticsInfoForm from '~/components/page/Register/LogisticsInfoForm'
import ProtocolDialog from '~/components/page/Register/ProtocolDialog'
import scrollIntoView from '~/utils/scroll-into-view.js'
export default {
  layout: 'base',
  components: {
    TabsBar,
    LoginDialog,
    AccountInfoForm,
    PersonalInfoForm,
    EnterpriseInfoForm,
    LogisticsInfoForm,
    ProtocolDialog,
    Foote
  },
  data() {
    return {
      tabActive: 0,
      type: 1,
      tablist: [
        { label: '用户注册', type: 0 },
        { label: '物流商注册', type: 1 }
      ],
      loading: false
    }
  },
  methods: {
    tabsHandler({ type = 0 }) {
      this.tabActive = type
      this.$nextTick(() =>
        scrollIntoView(document.documentElement || document.body)
      )
    },
    async submit() {
      const { tabActive } = this
      const accountValid = this.validateForm('accountInfoForm')
      const { phoneError } = this.$refs.accountInfoForm
      let form = { ...this.$refs.accountInfoForm.form }
      if (tabActive === 0) {
        if (!accountValid) return
      } else {
        if (!this.validateForm('logisticsInfoForm') || !accountValid) return
        form = { ...form, ...this.$refs.logisticsInfoForm.form }
        form.type = 3
      }
      await this.registerRequest(form)
    },
    async registerRequest(form = {}) {
      if (this.loading) return
      this.loading = true
      try {
        await this.$http.register(form)
        this.$message.success('注册成功！')
        this.loading = false
        this.$router.push('/expres-single')
      } catch (error) {
        this.loading = false
        this.$message.error('注册失败！')
      }
    },
    validateForm(form) {
      return this.$refs[form].validate()
    },
    showLogin() {
      this.$refs.loginDialog.show()
    },
    showProtocol(type) {
      this.$refs.protocolDialog.type = type
      this.$refs.protocolDialog.show()
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~assets/style/page/register.styl'
</style>
