<template>
  <div>
    <area-select
      ref="area"
      v-model="result"
      :close-on-click="false"
      @select="areaSelect"/>
  </div>
</template>
<script>
import AreaSelect from '~/components/AreaSelect/select'

export default {
  components: {
    AreaSelect
  },
  layout: 'base',
  data() {
    return {
      result: null
    }
  },
  mounted() {
    this.$nextTick(() => {
      this.$refs.area.init([110000, 110100])
    })
  },
  methods: {
    areaSelect(...args) {
      console.log(args)
    }
  }
}
</script>
