.h-popper
  position absolute
  background #fff
  min-width 150px
  border-radius 4px
  border 1px solid #ebeef5
  padding 12px
  z-index 2000
  color #606266
  line-height 1.4
  text-align justify
  font-size 14px
  box-shadow 0 2px 12px 0 rgba(0, 0, 0, .1)
  transition all .25s cubic-bezier(.55, 0, .1, 1)
  .popper__arrow,
  .popper__arrow::after
    position absolute
    display block
    width 0
    height 0
    border-color transparent
    border-style solid

  .popper__arrow
    border-width: 6px
    filter drop-shadow(0 2px 12px rgba(0, 0, 0, .03))

  .popper__arrow::after
    content " "
    border-width 6px

  &[x-placement^=top]
    // margin-bottom: 12px

    .popper__arrow
      bottom -6px
      left 50%
      margin-right 3px
      border-top-color #ebeef5
      border-bottom-width 0

    .popper__arrow::after
      bottom 1px
      margin-left -6px
      border-top-color #fff
      border-bottom-width 0

  &[x-placement^=bottom]
    // margin-top: 12px
    .popper__arrow
      top -6px
      left 50%
      margin-right 3px
      border-top-width 0
      border-bottom-color #ebeef5

    .popper__arrow::after
      top 1px
      margin-left -6px
      border-top-width 0
      border-bottom-color #fff

  &[x-placement^=right]
    margin-left 12px

    .popper__arrow
      top 50%
      left -6px
      margin-bottom 3px
      border-right-color #ebeef5
      border-left-width 0

    .popper__arrow::after
      bottom -6px
      left 1px
      border-right-color #fff
      border-left-width 0

  &[x-placement^=left]
    margin-right 12px

    .popper__arrow
      top 50%
      right -6px
      margin-bottom 3px
      border-right-width 0
      border-left-color #ebeef5

    .popper__arrow::after
      right 1px
      bottom -6px
      margin-left -6px
      border-right-width 0
      border-left-color #fff

  &--plain
    padding: 18px 20px

  &__title
    color: #303133
    font-size: 16px
    line-height: 1
    margin-bottom: 12px

  &:focus,
  &:focus:active,
  &__reference:focus:hover,
  &__reference:focus:not(.focusing)
    outline-width: 0

